[2017-08-04 13:23] simont77 opened #1 "Eve history"
Hi,
I made some progress with Eve history (see my gist) looking at the communication of a real Eve Room, but now I would need to monitor also other accessories. Do you have any possibilities?
Simone

[2017-08-06 14:07] simont77 commented on #1
Hi again,
now I've definitely understood Eve history protocol, at least enough to create a fake accessory whose history will show up in Eve.app. Unfortunately I'm not very good with nodejs, so translating it in a full featured history plugin for homebridge would take some time. Are you more skilled then me? I think that maybe the best way to proceed is to develop a library that can be included in

[2017-08-07 19:32] skrollme commented on #1
Hi @simont77, that are great news. I took a quick look at your updated gist. I think it will not be easy to implement this in a homebridge plugin, especially because I'm not a pro at NodeJS, too ;)
But I promise I will try it soon and let you know.

[2017-08-07 21:08] simont77 commented on #1
Good! I will try as well, I'm starting from your eveatmo-history module. In the meantime I updated my gist with a tentative communication protocol, just to clean up a bit all the stuff.

[2017-08-08 18:32] simont77 commented on #1
This is a rough code, not so elegant probably, but it works, at least for testing. TODO: a lot! Implement the actual history (maybe in a persistent way), add a method to create the entries (for different accessories), deal with timestamps and memory rolling. Probably there is some fix to do in the translation from hex2string, since JS removes also leading zeros that are instead needed.

[code]

[2017-08-09 05:12] skrollme commented on #1
Awesome! I will take this as a base for further development..

[2017-08-09 13:31] simont77 commented on #1
This is more functional, it accepts real EveWeather-styled logs with time stamps.
https://gist.github.com/simont77/919399dda338e37213b1ca231082c219.js

Simply add new entries with something like:

`this.loggingService.addEntry({time: moment().unix(), temp:this.temperature, pressure:this.airPressure, humidity:this.humidity});`

Actually data download if far faster than with real accessory.
Still to

[2017-08-13 14:11] DJay79 opened #2 "Firmware-Update showing up"
First of all thanks for this great plugin. Love it and works good with my first try.
Using Netatmo Rain Sensor and a few indoor and outdoor Sensors.
What I was wondering is that the Eve App is showing a Firmware-Update for Version 1.3.1 (466) for the 8 Devices added by homebridge-eveatmo.
Any chance to get rid of this?

Thanks again und viele Grüße. ;)

[2017-08-13 14:14] skrollme commented on #2
I'm seeing this by myself but for the beginning it tried to change as little as possible from the current known state about the protocol. I will try to fix this in one of the next updates

[2017-08-13 16:59] bam2000 opened #3 "My Netatmo Username is a Email Adress and config.json wrong?"
hi,
i wanted to install this nice plugin to use my Netatmo Weather Station with Apple HomeKit.
I have installed the Plugin, but when i create the config.json file with alle the necessary data in it, the home bridge tells me that there is an error with my file and i should check it on https://jsonlint.com
With your sample config i get the following error: Error: Parse error on line 1:
"platforms":

[2017-08-13 17:05] simont77 commented on #2
It should be due to the characteristic E863F11E. I saw the same behavior with the fake accessory I user for history experiments. I did not find any other useful use for that characteristic.

[2017-08-13 17:24] skrollme commented on #3
From your description and the error-message, this seems just to be an problem with your _config.json_. As it said, check jsonlint or another json-validator or json-formatter. If you are on MacOS you can for example use the Texteditor [Textmate](https://macromates.com). It has an integrated json-checker/-formater. But there a lots of others out there you can use.
I would recommend to start with a s

[2017-08-13 17:24] #3 closed

[2017-08-13 17:25] skrollme commented on #2
thanks, @simont77. I will give it a try.

[2017-08-13 18:00] bam2000 commented on #3
{
"bridge": {
"name": "Homebridge",
"username": "CC:22:3D:E3:CE:30",
"port": 51826,
"pin": "031-45-154"
},

"description": "This is an example configuration file with all supported devices. You can use this as a template for creating your own configuration file containing devices you actually own.",

"accessories": [

],

"platforms": [
    {    "platform": "eveatmo",
        "name": "eveatmo plat

[2017-08-13 18:28] skrollme commented on #3
Good to hear that ;)

[2017-08-15 05:27] skrollme commented on #2
Please check out the newest release 0.2.4, @DJay79. It is already on NPMJS, so `(sudo) npm install -g homebridge-eveatmo`should do it.

[2017-08-15 05:27] #2 closed

[2017-08-15 14:32] simont77 commented on #1
I set up a proper repository for the fakegato-history service https://github.com/simont77/fakegato-history

[2017-08-16 21:13] DJay79 commented on #2
@skrollme Thanks a lot. Version 0.2.4 works for me. No asking for Firmware-Update anymore. Great! 👍🏻
Any chance to see Netatmo Thermostat working with your plugin in the near future? This is now the only reason why I still use homebridge-netatmo.

Thanks again for your work and sharing.

[2017-08-17 07:45] skrollme commented on #2
Great to hear that!

I do not own a thermostat by myself so it has no real priority for me at the moment. My next goal is to get the history service running and some refactoring because the plugin seems to call the API more often than it should. This can easily lead to soft-bans at the Netatmo API, if you restart Homebridge too often.
So for the moment I would suggest you use the homebride-netatmo

[2017-08-17 08:08] skrollme commented on #1
Thanks, I will look into it. Before continuing with the history service I will refactor the plugin a little bit. Especially the way the API is called. There are too many unnecessary Calls when checking the devices in a Homekit app.

[2017-08-17 20:55] DJay-X opened #4 "Netatmo Thermostat working with homebridge-eveatmo"
Would be great if  Netatmo Thermostat will work with your great homebridge-eveatmo plugin in the future. This is now the only reason why I still use homebridge-netatmo.
Thanks again for your work and sharing. 👍🏻

[2017-08-28 17:46] Krocko opened #5 "Notification option for the air quality sensor"
Is it possible, to add the notification option for the air quality sensor?

[2017-08-28 17:50] skrollme commented on #5
Good idea, @Krocko. I will try it and let you know if the package is on npmjs.

[2017-08-28 18:33] Krocko commented on #5
Great! Thank you.

[2017-08-30 19:23] skrollme commented on #5
I did some research and I think the _Air Quality Sensor_ is (by HomeKit reference) not able to send notifications. But it looks like this could be possible by an _Carbon Dioxide Sensor_ or to be more precise by its _Carbon Dioxide Detected_-Characteristic. This is at least the way [homebridge-netatmo](https://github.com/planetk/homebridge-netatmo) does it. Currently I'm more interested in the defa

[2017-08-31 05:21] Krocko commented on #5
Agreed. Good idea.

[2017-09-03 15:28] skrollme commented on #5
Hey @Krocko. The feature was added in the V0.2.9 release. Please see the [config-sample](https://github.com/skrollme/homebridge-eveatmo#configuration) how to enable the extra _Carbon Dioxide Sensor_

[2017-09-03 15:28] #5 closed

[2017-09-03 15:49] Krocko commented on #5
Works. Thank you. Any chance to get the noise Level any air presure from the main module?

[2017-09-03 16:51] skrollme commented on #5
You find the main module's airpressure at the outdoor module as it is on the Eve Weather.
Concerning the noise level: I'll put this on the todo-list, but at least for me this is the most superfluous netatmo-metric in Homekit. So: Low-prio!

[2017-09-11 19:47] r32er opened #6 "Error"
i got this error. any idea ?

`Sep 11 21:41:30 homebridge2 homebridge[7432]: buffer.js:769
Sep 11 21:41:30 homebridge2 homebridge[7432]: return this.hexWrite(string, offset, length);
Sep 11 21:41:30 homebridge2 homebridge[7432]: ^
Sep 11 21:41:30 homebridge2 homebridge[7432]: TypeError: Invalid hex string
Sep 11 21:41:30 homebridge2 homebridge[7432]: at Buffer.write (buffer.js:769:21)
Sep 11 21:41

[2017-09-12 05:20] skrollme commented on #6
At this point I have no idea, no. More details?
- Does this problem occurs everytime you use the plugin?
- Details about your Netatmo-Setup? Which/how many sensors do you have?
- Does the plugin work in the Testing-Mode? (Add config-parameter "mockapi": "eveatmo")

[2017-09-22 18:01] Nastra888 opened #7 "Hidden the logging-service"
Hello, could you please flag the logging-service as „hidden“ in the service definition?

App developers rely on this property to define what services and characteristics will be shown in their apps and which will be hidden. In my opinion, the logging service („E863F007-079E-48FF-8F27-9C2605A29F52“) should not be exposed to the user. Please also flag the non-user facing characteristics like „E863F1

[2017-09-23 15:55] skrollme commented on #7
I will check, if the plugin still works with the EVE.app if the services are hidden. Which app are you using? Where did you took the screenshot with?

[2017-09-23 16:02] Nastra888 commented on #7
Thanks for your quick reply, I use this app:

HomeDash - Dashboards für HomeKit von Marcus Reul
https://itunes.apple.com/de/app/homedash-dashboards-f%C3%BCr-homekit/id1003033186?mt=8

[2017-09-23 16:03] Nastra888 commented on #7
Look at it is a great HomeKit App .-)

[2017-09-25 19:31] #6 closed

[2017-09-25 19:39] skrollme commented on #7
Done. See [0.2.10](https://github.com/skrollme/homebridge-eveatmo/releases/tag/0.2.10). Please update, and let me know if this fixed.

[2017-09-25 19:50] #7 closed

[2017-09-26 03:13] Nastra888 commented on #7
Great Thank You. 👍

[2017-09-26 03:17] Nastra888 commented on #7
It looks now, I think the four S2 ** are the Eve History data fields which can only be displayed in the Eve app?

Can you tell when your plugin shows the data in the Eve app?

![a646ae33-18d8-46b8-8512-f7f8f5aaf334](https://user-images.githubusercontent.com/27686185/30840858-f873c4b0-a279-11e7-9eae-d55c3ae30bbc.jpeg)

[2017-09-27 16:57] skrollme commented on #7
Da ich noch nicht ganz verstanden habe was du mit der letzten Nachricht sagen wolltest, du aber scheinbar auch deutsch sprichst: Was genau war deine Frage?

[2017-09-28 05:17] Nastra888 commented on #7
Hey, das ist ja klasse das du deutsch sprichts das macht die Sache einfacher 😉

Erstmal vielen Dank das du es so schnell gefixt hast. Was ich eigentlich wissen wollte, ist dieser Logsensor der auf dem Screen angezeigt wird mit den Werten S2... vermutlich für die Aufzeichnungsfunktion der Wetterdaten die nur in der Eve App angezeigt werden können und in deinem Plugin noch auf der ToDo Liste stehen

[2017-09-28 07:49] skrollme commented on #7
Das Thema steht wie du schon richtig erkannt hast bei mir noch auf der ToDo Liste, allerdings reicht die Freizeit gerade nicht aus um da effektiv voran zu kommen. Ich selber sehe die Logging-Characteristicen nicht in meinen HomeKit Apps. Weder die original Home.app noch die EVE.app zeigen diese an.
Ein Großteil des Reverse-Engineering zu dem Thema haben Andere aber schon geleistet. Schau dazu einf

[2017-09-28 08:06] Nastra888 commented on #7
Schade das bei dir die Zeit gerade knapp ist um weiter zu machen, da dein Plugin echt Cool ist und dieser Punkt noch das i tüpfelchen ist für die alte Netatmo Wetterstation.-)

Trotzdem vielen Dank für die Links. Werde mir diese mal anschauen vieleicht kann man da irgendwie ableiten wie der Weg andersherum ist um die Graphen in einer HomeKit App einzubauen so wie es bei Elgato ist.

[2017-09-28 12:15] Nastra888 commented on #7
Was mir noch eingefallen ist, kannst du noch einen Dienstnamen für das ganze Gerät eventuell im nächsten Update einfügen,  bisher sind nur einzelne Dienstnamen für die Service verfügbar bzw. werden angezeigt?

[2017-09-29 03:58] Nastra888 commented on #7
Vieleicht kannst du ja bei gelegenheit auch noch die 4 Merkmale mit den Log Werten auf hidden setzten das diese bei mir auch ausgeblendet werden?

Gruß Nastra

[2017-09-29 05:15] skrollme commented on #7
Erledigt. Ist in der [0.2.11](https://github.com/skrollme/homebridge-eveatmo/releases/tag/0.2.11)

[2017-09-29 05:18] skrollme commented on #7
Für die Leute, an die dieses Plugin hauptsächlich gerichtet ist macht ist das glaube ich egal. Die EVE.app zeigt alles korrekt an, und die Home.app blendet Services, die sie nicht kennt eh aus. Aber wenn ich mit der History weiter machen schaue ich mir das mal an

[2017-09-29 05:37] Nastra888 commented on #7
Erstmal vielen Dank, das du es noch angepasst hast. Habe das Update gerade gemacht jetzt sieht es echt schick aus .-)

Ja bei dem Dienstname geb ich dir Recht in der Eve App macht es keinen unterschied da Standardmäßig bei allen Geräten von Elgato kein Dienstnamen für das ganze Gerät vergeben wird.

Wäre halt ein schönes Gimmig wenn es nicht zu viel Aufwand für dich ist und es machbar ist, da in a

[2017-10-01 06:59] DJay-X opened #8 "Invalid hex string | homebridge stopped working EveatmoWeatherPressureService ??"
Hope you can help. Is again the Netatmo API/Server the problem?
Homebridge stopped working out of the blue with the error shown below.

Any chance to see this in the near future? At the moment everything at home stopped just because of the plugin. Don't get me wrong, I love this plugin and desperately see development going on.

Thanks a lot for the help and reply.

[code]

[2017-10-01 12:23] DJay79 commented on #8
If the Netatmo server makes a mistake and you are just restarting the homebridge, then the start doesn't run clean and the homebridge gets stuck.
There should be a timeout that the start of the homebridge continues and the other plugins at least run.

Any chance to see this in the near future? At the moment everything at home stopped just because of the plugin. Don't get me wrong, I love this plug

[2017-10-01 15:07] skrollme commented on #8
Hello @DJay79 , most parts of the base code were copied from the homebridge-netatmo plugin so I have to dig in a little deeper to check this out. I also had the problem that errors on the API side block/freeze the rest of the homebridge, but I did not get a good start to overhaul the plugins structure because the plugin build its accessory structure (modules/sensors) directly from the netatmo API-

[2017-10-01 15:32] DJay79 commented on #8
Thanks for your reply and your ongoing work.
I think a lot of people love your Plugin. Especially of course the German fans on http://forum.smartapfel.de/forum/ 😉

If there is anything I or we can do to help investigate or test, please of course let me know here or there. with a heavy heart I had to uninstall and remove it from my config today to keep Homebridge running. :(

[2017-10-03 11:18] skrollme commented on #8
I took a look at it yesterday and it seems hard for the plugin to detect problems with the API in the current structure because of some error-handling decisions in the underlying netatmo-library. I already wrote to the author and asked him about this. See: https://github.com/karbassi/netatmo/issues/36

[2017-10-23 20:55] oynek commented on #1
Would be great to see this implemented! Great work btw.

[2017-11-24 20:21] DJay-X opened #9 "[enhancement] Netatmo welcome camera"
Black Friday and of course the Netatmo welcome was also on sale. 🙄 So I bought it. dah.. For no particular reason.😉
Any chance to see a (the) camera supported in eveatmo in the very near future? 🤞🏻
Thx

[2017-11-30 15:06] skrollme commented on #9
Currently no plan to implement this (because I do not own one). Aren't there other homebridge-plugins for the Welcome? Is it possible to use both: one for Sensors, one for camera?

[2018-01-30 12:35] oynek commented on #1
Any progress on this?

[2018-02-07 14:47] DJay-X commented on #1
I think there is a breakthrough with recording to the history by the plugin of @naofireblade https://github.com/naofireblade/homebridge-weather-station-extended
You guys should definitely use the synergy. Awesome work that you all are doing. Thanks for sharing.

[2018-02-07 15:05] naofireblade commented on #1
I use the awesome [fakegato-history](https://github.com/simont77/fakegato-history) from @simont77 as well :) .

[2018-02-08 06:11] skrollme commented on #1
Thanks for all your input. I recent times I have some other projects but I promise I will continue with this

[2018-02-13 12:10] skrollme commented on #1
"Good news everyone!" Thanks to the great and almost drop-in-and-it-works [fakegato-history](https://github.com/simont77/fakegato-history) module by @simont77 I got the history working for homebridge-eveatmo.

At the moment it only works for for temperature (indoor/outdoor), humidity (indoor/outdoor) and pressure (outdoor). The history for the CO2-Sensor does not work so far although I add the co2

[2018-02-13 12:17] simont77 commented on #1
Unfortunately you can use history only for services supported by Eve, and only once I have decoded the protocol for that particular sensor. So, no history for CO2 for the time being. Instead you can use the Eve custom service E863F10B for PPM air quality, but it doesn't seem to be strictly related to CO2 https://help.elgato.com/customer/en/portal/articles/2233021-eve-room-—-does-it-detect-co2-co₂-

[2018-02-13 12:24] skrollme commented on #1
Is this the "AirQuality"-Characteristic which the indoor/room-Devices show? These seem to support a history in the Eve.app (currently showing an empty graph). Does your module already support this kind of history-type?

[2018-02-13 12:29] simont77 commented on #1
Yes, you should use type “room”, for temp, humidity and PPM history

[2018-02-13 16:43] skrollme commented on #1
Hmm.. That is exactly what I have already done. See:

Service creation:
https://github.com/skrollme/homebridge-eveatmo/blob/540a64a0a57f9d5fa3a8d0afa033a82c1eb56fcd/accessory/eveatmo-room-accessory.js#L69

And addEntry:
https://github.com/skrollme/homebridge-eveatmo/blob/540a64a0a57f9d5fa3a8d0afa033a82c1eb56fcd/accessory/eveatmo-room-accessory.js#L95

At my local machine I also tried to remove the

[2018-02-13 19:23] simont77 commented on #1
From my old notes on first Eve Room experiment: “In order to clone the Eve Room I had to reproduce the two custom characteristics for air quality and put them inside the standard air quality service (as in real Eve), otherwise air quality logs are not seen by Eve.app.”

[2018-02-15 06:19] skrollme commented on #1
The AirQuality history seems to work now, too. 🎉 I will merge the feature and create a new npm-version from this.

[2018-02-15 17:29] skrollme commented on #1
Version 0.3.0 with history-support is out and published to _npm_.

[2018-02-15 21:00] DJay-X commented on #1
Top! 👍🏻 Thanks a lot.
And looks very good at first glance. Works!
I would only be interested in what is meant by...

What would be "to many"?
In my log, data is retrieved from the API every 15 seconds. "to many"? 🤔😉

`Feb 15 21:37:29 raspberrypi homebridge[517]: [2018-2-15 21:37:29] [eveatmo platform] Loading new data from API for: weatherstation
Feb 15 21:37:44 raspberrypi homebridge[517]: [2018-

[2018-02-15 21:54] DJay-X commented on #1
I noticed I still had the ttl 15 line in the config.json My bad. 😬
I removed the complete line and will check the results in history tomorrow.

[2018-02-16 06:31] skrollme commented on #1
:D Yap, 15s is a bit to frequent. Keep in mind that the Netatmo stations record a value every 5minutes so values far below 5min does not make any sense at all. Maybe I should add a _interval = max(interval,5*60)_ to prevent this "overpolling"

[2018-02-16 11:21] DJay-X opened #10 "0.3.0 Duplicat CO2 value and rearrange values issue"
Hmm... with me the CO2 content is displayed twice. From a friend I've heard that temperature is double instead.

And when I want to sort the entries in a different order, the app will ignore that and then sort them again as it was.
Apart from that everything looks very good after I took tts out completely last night. Thanks again.

[https://youtu.be/EhPKh4s71hc](https://youtu.be/EhPKh4s71hc)

[htt

[2018-02-16 15:06] r32er commented on #1
With my Netatmo outdoor and addition Modul the history works fine except for a few gaps. But the base module hasn't written a history since this morning.

[2018-02-17 08:05] skrollme commented on #1
@r32er currently not sure about this. I have neither gaps nor a module with no history at all. Can you take a look into your ~/.homebridge directory:
There should be some persistence-json-files, one for each module. They are named like "YOURPIE'SHOSTNAME_NETATMOMODULENAME.json"

- Do you have these files?
- Have you tried completely quitting the eve.app and/or pull to refresh inside the app?

[2018-02-17 08:59] r32er commented on #1
I checked and didn't have those files. But the external module and the additional module record the history. Except the base module...

Yes  I tried to restart the app and refresh it.

Maybe it helps to reinstall the plugin.

[2018-02-17 09:13] skrollme commented on #1
So maybe the files are placed anywhere else. At least I did not change the file location in the fakegato-init.
Of course you can try a reinstall. Let me know if this makes a difference for you. I just published a small update but this should only affect the CO2-Sensors updates.

[2018-02-17 09:15] r32er commented on #1
Unfortunately, reinstalling the plugin did not help.

The history in my base modul works till yesterday 08:19. Then i stopped the homebridge to change the ttl config to 600 to avoid the overpolling. default was 15.

Since then the base modul don't save the history :(

[2018-02-17 09:31] skrollme commented on #10
I have no idea concerning the duplicate temperature display 😅 but please check the just published update to 0.3.1. This should deal with the duplicate CO2 characteristic.  At least it is gone for me now. Downside: Apple's stock Home.app does not display the CO2 value inside the AirQuality service anymore.
Besides the 0.3.1 update try setting the "extra_co2_sensor" config to false. It seems, that y

[2018-02-17 12:03] skrollme commented on #1
Once after restarting homebridge I saw that there was a gap in the history back untill the time the eve.app last synced. But that was the only problem so far for me.
Did you started homebridge with different users and/or permissions? Maybe the history files are not writeable/readable now.

I also published a new version (0.3.2) with a minimum polling interval of once every 5min.

[2018-02-17 13:50] r32er commented on #1
I have reinstalled the eve app, eveatmo Plugin. Restart the Homebridge and pi. Delete the accessories und persist folder. But nothing helped.

The base Modul don’t write the history :(
And I can’t find the files were the history is written in.

Homebridge run as systemd. And eveatmo run in an second instance.

[2018-02-17 15:56] r32er commented on #1
I found the files at ~/root/homebridge. why are the files stored in root at all? Do you have an idea?

The last access was yesterday at 09:52 at the file which is my base modul. the file is empty.
<img width="884" alt="bildschirmfoto 2018-02-17 um 16 42 27" src="https://user-images.githubusercontent.com/24353418/36342774-7fe31d2e-1403-11e8-8cfb-ecd64cccb3ea.png">

[2018-02-17 16:13] DJay-X commented on #10
Thanks. Works! :)

[2018-02-17 16:13] #10 closed

[2018-02-17 17:37] skrollme commented on #1
The storage location is chosen by the fakegato-history plugin itself. See: https://github.com/simont77/fakegato-history#file-system
In my setup homebridge is running via systems as well, but the files are placed inside ~/.homebridge.

But back to the problem: It is strange that the basestation does not write history at all. Did you changed the file-permissions for the persist-files (try 777)? Does

[2018-02-17 19:15] r32er commented on #1
No i don't change anything in the file-permissions. could you tell me the command 777?

[2018-02-18 07:36] r32er commented on #1
i have done:
`root@homebridge2:/home/pi# sudo chmod 777 /root/.homebridge/homebridge2_Home\ Wohnzimmer_persist.json`

is that right?

[2018-02-18 12:32] skrollme commented on #1
Basically that was what I meant, yes. Fakegato is not configured by you but by the plugin which uses it (in this case homebridge-eveatmo).
Maybe @simont77 has an idea why only one device fails here. Some bad implementation / integration in homebridge-eveamto?

[2018-02-18 14:45] simont77 commented on #1
For file system persistence, fakegato saves files into the default homebridge folder (.homebridge in the home folder of the user launched homebridge) or the folder defined by the user with the -U option of homebridge. If you are using systemd, you are probably following this guide https://gist.github.com/johannrichard/0ad0de1feb6adb9eb61a/, which instructs you create a folder owned by a newly crea

[2018-02-18 15:55] r32er commented on #1
I have different Homebridge instances. I had expected the persist files where the history is written in the Homebridge folder of the Homebridge instance in which the plugin is configured (config.json)

I wonder why the the files are in /root/.homebridge.

[2018-02-18 16:30] Nastras commented on #1
Hello everybody,

with me the data writing works. The responsible files are also in / root / homebridge.

Also the fakegato files of homebridge-hue.

Should it be like this?

[2018-02-18 16:31] Nastras commented on #1
![46ad988b-d918-4e84-9180-5c130025c0ab](https://user-images.githubusercontent.com/27686185/36354236-83390104-14d1-11e8-8d38-b78c49713810.jpeg)

[2018-02-18 17:51] simont77 commented on #1
wait, apparently by default fakegato saves history in os.homedir(),'.homebridge'. I though we already switched that to homebridge user folder if defined. This would explain why it is saving in root folder i you are running homebridge as root. I will patch fakegato asap, however with the right privileges on the root folder it should not crete any issue.

[2018-02-21 07:19] r32er commented on #1
it seemls like a bug for me. yesterday i got the history for the basemodul in living room but then the outdoor modul history dont work. an actuallly only my bedroom works..

[2018-02-26 10:37] skrollme commented on #1
A few days ago I had one gap as well. It seemed that I did not fetch the data for too long, so the persistence-file could not keep all entries. I increased the size for the persistence-files for testing and everything seems to work fine.

I finalize this a will publish an update to npm.js this evening.

For now I will close this Issue here because the history in general is working now.

[2018-02-26 10:37] #1 closed

[2018-02-27 21:36] DJay-X opened #11 "TypeError: Cannot read property 'time' of undefined"
Homebridge crashed after update to 0.3.3

[code]

[2018-02-28 08:11] skrollme commented on #11
Strange, I also installed 0.3.3 immediately and I had no problems. Maybe fakegato tries to access a memory-address in its persistence which does not exists after the just increased storage space.
Please try deleting the persistence files (usually located in ./homebridge/) and try restarting again.

[2018-02-28 08:28] DJay-X commented on #11
Thanks.
Now I noticed in the log, that this is coming up and then stuck.
Maybe something on netatmos site? I use the plugin homebridge-netatmo just only for the heating thermostat and homebridge-eveatmo for the weather sensors. Everything run smooth the last days.

Feb 28 09:23:27 raspberrypi homebridge[2438]: [2018-2-28 09:23:27] [eveatmo platform] WARN - Netatmo: Error: getStationsDataError erro

[2018-02-28 09:43] skrollme commented on #11
I noticed this morning that there were API-Problems, so I paused homebridge for a while. I just started it again and it seemed to work. Maybe there were some Netatmo-AP hickups.

[2018-02-28 09:58] skrollme commented on #11
Problem is, that homebridge fails completely if Netatmo has API-problems because of the error-handling in the underlying netatmo-api-module in homebridge-eveatmo.
I already wrote to the author of the library but did not get an answer so far. I will take a look for an other approach on this.

[2018-02-28 09:58] #11 closed

[2018-02-28 13:56] MikeDeltaHH commented on #11
Same problem here with the 0.3.3 - back to 0.3.2 and it works!

[2018-03-01 08:49] DJay-X commented on #11
Sorry to open this issue again. But the API Problem on the side of netatmo was only a coincidence.

I still get the following error which definitely depends on fakegate-history and eveatmo.

`Mär 01 09:44:15 raspberrypi homebridge[519]: [2018-3-1 09:44:15] [eveatmo platform] Loading new data from API for: weatherstation
Mär 01 09:45:17 raspberrypi homebridge[519]: /usr/local/lib/node_modules/homeb

[2018-03-01 10:17] DJay-X commented on #11
I have now deleted all the **xxxx_persist. json** files in **.homebridge** folder and this provided the solution for now.
Homebridge no longer crashes when a netatmo device is selected in the Eve App.

[2018-03-11 10:57] r32er commented on #8
I got the same error.

[2018-03-17 15:41] DJay-X opened #12 "Change order of values not possible"
I noticed that I can’t change the order of some values in Eve App.
In the enclosed example I noticed this with the values of the outdoor sensor only. I want to set value temperature on top but it doesn’t work.

![d522a427-5e79-4fd7-b4da-5222ff6f0fea](https://user-images.githubusercontent.com/3874239/37557240-f3638cfc-2a01-11e8-8203-b7afb9e5ceb8.gif)

[2018-03-19 17:34] skrollme commented on #12
Same here, but - as far as I know - I did not do anything which should cause this :D
Did you find any reports if this behavior also occurs with a real EVE Weather?

[2018-04-02 18:07] DJay-X commented on #12
Sorry for the late response.
I checked all the native eve sensors and there is no such behavior to notice.

What I can see is that the problem with the netatmo sensors only is with the outdoor module.
I have a frieds netatmo station also connected and in all rooms I can change the order except the outdoor. Air Pressure "Luftdruck" is always first and moving for example the temperature on top is ju

[2018-04-02 18:17] DJay-X commented on #9
I sold mine.Didn't liked it.  So also no need for me as well. ;) But thanks anyway for all your other work and sharing. 👍

[2018-04-02 18:17] #9 closed

[2018-04-03 05:17] skrollme commented on #12
Thanks for the feedback. So this problem only occurs with the homebridge-eveatmo plugin, not with a real Eve Weather or Room. I will look into this

[2018-04-04 16:44] eshaka opened #13 "getting errors when eve app is requesting data"
at process._tickCallback (internal/process/next_tick.js:180:9)
    at _combinedTickCallback (internal/process/next_tick.js:138:11)
    at endReadableNT (_stream_readable.js:1055:12)
    at IncomingMessage.emit (events.js:208:7)
    at emitNone (events.js:106:13)
    at HAPServer.<anonymous> (/usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/lib/HAPServer.js:209:39)
    at HAPServer._h

[2018-04-04 18:47] skrollme commented on #13
This message comes from _homebridge-eveatmo_'s dependency [fakegato-history](https://github.com/simont77/fakegato-history)

[2018-04-04 18:47] #13 closed

[2018-04-07 06:34] r32er opened #14 "History gaps"
Since I install the Homebridge new and Update Node and npm I had no problem with gaps and the plugin worked fine. But since few days I have the gaps again.

 If the gaps in the log are missing then the entry: loading new data from API.
When i restart the HB the it works again for a few hours.
Apr  7 07:23:51 Homebridge homebridge[32340]: [2018-4-7 07:23:51] [eveatmo] Loading new data from API for:

[2018-05-05 16:57] heiq opened #15 "Rain gauge values dont change correct"
Hi. The rain gauge Values Shown in the eve App dont set back to Zero. If i pour some water into the rain gauge it Updates the values in Time. If i restart homebridge it Updates the values correct, also to Zero (without rain or pouring some water into it for testing).
First i tried without ttl, then with ttl 540.
Doesnt make a difference.
This also happened with the Original Netatmo Plugin so i cha

[2018-05-06 08:51] skrollme commented on #14
Hello @r32er
I'm facing the same situation as you. Almost no problems for a long time but then, from one day to another only gaps. I got everything back working by deleting the persistence-files of the history plugin and a homebridge restart. I'm not sure if this has something to do with the large history-size (>40k entries) I have chosen for the accessories. I will keep this in mind and keep you

[2018-05-06 08:56] skrollme commented on #15
Mmmh.. you are right. Something is not right with the rain-gauge. It is the same on my setup. But to be honest I'm rarely looking at the rain-gauge in the app so I did not noticed it so far. :/

I will take a look at this, and let you know

[2018-05-21 12:04] skrollme commented on #14
@r32er still everything fine with your setup? mine worked one week and then problems started to reappear. I had to delete the persistence-files and restart homebridge to get i back working. I'm not sure if it has something to do with using eve on an other device. Could this be a possible reason @simont77 ? Or maybe a to large persistence-size (currently 40k)

[2018-05-21 14:14] r32er commented on #14
It works good over weeks. Since a few days a have gaps and the last 2 days no history. I come back home today and I restart the Homebridge. I think then it will work again

[2018-05-21 14:19] simont77 commented on #14
It’s now several months that I have fakegato in two different plugins with 3 iOS devices, and I haven’t seen such problems. However I’m using the default history length

[2018-05-22 05:25] skrollme commented on #14
ok, I will try to reduce the history length and publish an update today. I will also check if the gaps could be caused by the "disableTimer" setting for fakegato in homebridge-eveatmo.

[2018-05-22 06:20] simont77 commented on #14
Also, I’m using the internal fakegato timer

[2018-05-22 20:14] palasinio commented on #14
Hi,

I have gaps in history, too. I'll post a log, when I'm home again at weekend.
In my case eveatmo stops polling weather data after the first connection failure and won't ever try again after ttl set intervall until restarting homebridge.
It then only updates, when starting Home app.

[2018-05-29 14:04] PsynapseX opened #16 "issue with philips tv"
hello, regarding your Philips TV Homebridge plugin (it does not have the "issues" section so I had to open here), I have a 2014 model and I get this when I want to turn it on:
<img width="663" alt="kepernyofoto 2018-05-29 - 15 52 53" src="https://user-images.githubusercontent.com/30931733/40663789-c69f6a4c-6359-11e8-80c8-612cef9c0de4.png">

what would be the issue?

thank you

[2018-05-31 09:55] palasinio commented on #14
Hi @skrollme, at this moment I have 0.3.5 running and had no failure of the internet connection since my last post and therefore no gap or error in my log.
Remember: In my case retrieving weatherdata stopped after the first fail of getting data from Netatmo. Hope, I can reproduce this on weekend.

[2018-06-03 10:13] skrollme commented on #14
Last night there was a connection-problem with the netatmo api and from that moment on I got some problem with the data-polling. No history gaps, but only because homebridge-eveatmo now uses the internal timer from fakegato which fills up the gaps.

I decided to look into the netatmo connection library and eventually fork it to offer another exception-handling.

I will keep you updated here.

[2018-06-03 14:02] palasinio commented on #14
Hi,5

today I had a network outage. Once eveatmo isnt't getting data, its not trying anymore. At 15:29:36 I opened the Home app. After restart everything is okay. Interesting: With version 0.3.6 I have no longer a history gap, but a straight line repeatein the last value from 2018-6-1 20:04:03.

Log:
[2018-6-1 18:09:50] [eveatmo platform] Loading new data from API for: weatherstation
[2018-6-1 18:

[2018-06-04 23:08] heiq commented on #15
Thx! It is working now!

[2018-06-08 22:40] palasinio commented on #14
Sounds good..

[2018-06-25 05:53] skrollme commented on #14
The new release is out now. No changes in the underlying netatmo-lib, but a modified polling in homebridge-eveatmo (should have seen this before -.-)
Please update, test and let me know how this works

[2018-06-25 19:28] palasinio commented on #14
THX! I‘ve installed it and now we‘ll see :)

[2018-07-02 20:59] palasinio commented on #14
Hi, I just want to inform you that v0.3.7 survived three network outages today and is still polling weatherdata in the defined interval.
Good work, THX!

[2018-07-03 16:36] skrollme commented on #8
I close this because there were no more posts in the recent time

[2018-07-03 16:36] #8 closed

[2018-07-06 06:51] skrollme commented on #14
Great. For me the plugin works for a few weeks without gaps as well. So I can finally close this :D Thanks for all your help

[2018-07-06 06:51] #14 closed

[2018-08-31 16:07] septeven opened #17 "getStationsDataError error: Access token expired"
Hi there,
I installed your plugin yesterday for the first time - It was working very well but it's been a few minutes (problem may be older) that I noticed everything was labelled "no responding" in the app Home.

I found the following error in the logs :
[evatmo platform] WARN - Netatmo: Error: getStationsDataError error: Access token expired

Any chance you let me know what went wrong?

[2018-09-05 05:31] skrollme commented on #17
Hello @septeven ,
I also got the "Access token expired" error once, but that was after not restarting homebred or the raspberryPi it runs on for half a hear or so. Does it start working again (for longer) after restarting homebridge?

[2018-09-05 13:50] septeven commented on #17
Hi @skrollme
Thanks for your response.
Yes, I restarted the raspi and it seems working well for now - I will let you know if the error pops up again.

[2018-09-05 16:34] #17 closed

[2018-11-21 15:32] DJay-X opened #18 "TypeError: Cannot read property 'Pressure' of undefined"
Hey there.
Since two days I get this error and of course Homebridge stops.
Probably something on the Netatmo server?
But it would be great if the plugin doesn't stop homebridge completely then just ignoring the error.
After some time (hours) the plugin runs again when data is coming for Netatmo again I guess.

It would be so helpful if there is a feature that eveatmo plugin could handle this Serve

[2018-11-21 15:53] skrollme commented on #18
I'm having the same problem and also found another guy on twitter with the problem. Something is broken in the netatmo-API with the dashboard_data. I will publish a fix to prevent the crashes later this evening. I will let you know

[2018-11-21 15:54] craigdent commented on #18
i just started getting this error also.. and has killed homebridge

[2018-11-21 16:15] skrollme commented on #18
I just published a new version which - at least - does not crash homebridge. Please update via the following command

`npm -g install homebridge-eveatmo` or with sudo, depending on your setup

[2018-11-21 17:09] DJay-X commented on #18
@skrollme Did I mention you're awesome? ;) Thanks for your super fast response.
Updating to latest version 0.4.1 and the error is gone for now. Homebridge is running.
Thanks for not letting us down. 👍🏻

[2018-11-21 18:36] palasinio commented on #18
@skrollme THX for being that fast. Great!

[2018-11-21 20:13] skrollme commented on #18
Great to here, that it helped. For me the Netatmo API is working again now.

[2018-11-21 20:16] #18 closed

[2018-11-25 13:41] beatpaul opened #19 "Slows Homebridge down, leading to "no response" errors"
Hi!

If there is no server connection to netatmo servers (what happens lately a lot) the plugin slows homebridge down so u can't us it any more
Same issue as
https://github.com/planetk/homebridge-netatmo/issues/73

Is there a workaround?

thx in advance

[2018-11-27 07:46] skrollme commented on #19
Are you on the latest version of homebridge-eveatmo, @beatpaul ? For me there are currently no problems, even the history works well.

[2018-11-27 14:53] Acemach1ne commented on #19
Same here. Latest version installed.

[2018-11-27 15:09] skrollme commented on #19
It is difficult to debug this at the moment, because this does not occurs in my setup (eveatmo with some other plugins on raspberryPi), but will look into this: May reducing the connection-timeout could be an option.

[2018-11-27 18:41] beatpaul commented on #19
Hi!
Yes i used the latest Version, running on a mac mini with several other plugins like homebridge-hue e.g.

[2018-11-27 20:13] Acemach1ne commented on #19
Homebridge status:
https://www.dropbox.com/s/uyctxeq3fcx0xbb/Foto%2027.11.18%2C%2021%2011%2031.png?dl=0

[2018-11-29 14:38] skrollme commented on #19
@Acemach1ne I also get a batch of "invalid access token" messages once. After a restart everything was fine again. Does this work for you as a temporary fix if you are still facing the problems? Or did the problems disappear by themselves?

[2018-11-29 18:48] Acemach1ne commented on #19
@skrollme
It was related to the downtime of Netatmo. After the server ran again, the problem fixed themselve. A restart of Homebridge didnt fixed the problem.

[2018-12-02 23:56] cschildhorn commented on #19
I see these errors after a few hours last days:

[12/3/2018, 12:33:04 AM] [eveatmo platform] WARN - Netatmo: Error: getStationsDataError error: Access token expired

All Sensor do not respond and the error makes all other plugins unresponsive as well.

Restarting homebridge solves issue but the token is not renewed without the reboot.

[2018-12-04 20:20] skrollme commented on #19
I had still no luck with debugging but in the last few days I had not a single "token expired" error in my logs. My polling interval is 540s (9min) by the way. Every now and then I got an "internal server error" from the netamo API but even then I have no freezes in the Home.app.

I will continue to look into this but at the moment if have no real clues how to start with this. Suggestions are welc

[2018-12-25 08:21] Phoenix-DH opened #20 "Missing history data fir indoor/outdoor moduled"
Hi,

I checked the plugin.
I have only history data for the main station.
For the outdoor and a second indoor module there is no history data.

Is this missing in general or an error at my end?

Thanks

[2018-12-26 18:32] gazzmanzx6 opened #21 "Low battery warning"
Having replaced the batteries in one of the modules Eve is still showing the low battery warning.
Is there a way to clear this?

Other than that eveatmo is working great.
Thanks.

[2018-12-27 18:08] skrollme commented on #20
I have the same module setup (1x base-station, 1x outdoor-module + 1 additional indoor module) and the history works for me on all modules. Please try restarting homebridge or wait a little bit until more history data were recorded. Maybe the get displayed then.

[2018-12-27 18:08] #20 closed

[2018-12-27 18:10] skrollme commented on #21
I'm not sure if the battery warning is always updated directly. I will look into this.

If it is not fixed until now by itself, try restarting homebridge as workaround.

[2018-12-27 19:08] gazzmanzx6 commented on #21
Thanks for the reply.
It didn't clear itself but restarting homebridge has cleared the warning.
Thank you.

[2018-12-27 19:10] Phoenix-DH commented on #20
Everything is running since months... no history on additional modules ...

[2019-01-02 18:34] Phoenix-DH commented on #20
Sorry, didn‘t answered for others...
Already tried... that was the solution.

Thanks.

[2019-01-02 18:40] skrollme commented on #21
I just looked into this and I might have found a fix for this. I will publish this soon.

[2019-01-02 19:31] skrollme commented on #21
Version 0.4.2 was just published.

[2019-01-02 19:31] #21 closed

[2019-01-03 12:50] hronix opened #22 "Homebridge crash"
I really enjoy using eveatmo and like how it's displayed in Home. One issue which I experience which can improve overall experience is here: Homebridge crashes completely when eveatmo platform have exception.

[1/3/2019, 2:52:59 PM] [eveatmo platform] Loading new data from API for: weatherstation
buffer.js:750
        return this.hexWrite(string, offset, length);
                    ^

TypeError:

[2019-01-03 13:11] palasinio commented on #22
I can‘t confirm this. Do you have the latest version installed?
This plugin ‚didn‘t‘ like it if internet or netatmo is not reachable and sometimes won‘t recover, but it didn‘t crashed homebridge in my case.

[2019-01-08 13:14] hronix opened #23 "homebridge crashes on 0.4.2"
I'm testing 0.4.2 for a week and experience crashes about every 48 hours.
Last crash: [1/8/2019, 11:25:47 AM]
Previous: [1/6/2019, 1:59:46 AM]
Before: [1/5/2019, 12:22:05 AM]

Problems are the same, here is last dump

[1/8/2019, 11:25:47 AM] [eveatmo platform] Loading new data from API for: weatherstation
buffer.js:750
        return this.hexWrite(string, offset, length);
                    ^

Ty

[2019-01-09 20:22] skrollme commented on #23
I looked a little bit into this and I have no idea how this error can happen and this part of the code. There are some converting functions before which should return consistent values/datatypes.

Which node version do you use on which platform?

[2019-01-13 18:03] palasinio opened #24 "Set threshold for extra CO2"
Hi,

wasn‘t there a way to set a threshold for the extra co2 sensors? 1000 is a bit to low.

Regards,

[2019-01-14 17:04] skrollme commented on #24
At the moment there is no configuration-option to change the co2 trigger threshold. I will add this to the ToDo list

[2019-01-14 19:39] hronix commented on #23
@skrollme Had it again. May be there is problem in other home bridge plugins which I use?
Platform: Linux hronixNAS 3.4.26 #1 SMP PREEMPT Fri Nov 23 03:32:01 CST 2018 i686 GNU/Linux
Node: v6.9.1

[2019-01-18 20:12] nicoduj opened #25 "Keep saying token has expired after sometime until reboot"
I had this error today, the plugin was  saying that the access token has expired. Restarting homebridge fixed that. Just beofre it begun,I had an error retrieving data from netatmo (which happens sometimes)
![74d0e3c8-089a-42f8-b866-a4183b8ac3fa](https://user-images.githubusercontent.com/19813688/51410732-c6a72380-1b65-11e9-9900-a1aef152223f.png)

[2019-01-19 14:03] skrollme commented on #25
This did not happened to me before, but most netatmo-API problems are caused by server-problems on netatmo's side. Also the authentication is completely handled inside the netatmo-library (https://github.com/karbassi/netatmo) so maybe the creator of this plugin can help on this.

[2019-01-19 14:03] #25 closed

[2019-01-19 15:09] skrollme commented on #24
Done in 0.4.3 (https://github.com/skrollme/homebridge-eveatmo/releases/tag/0.4.3)

[2019-01-19 15:09] #24 closed

[2019-01-19 15:46] palasinio commented on #24
Nice! THX!

[2019-01-19 17:00] JacVid opened #26 "CO2 Sensor data"
Hello and thanks a lot for your job ! It is very usefull...

May I suggest an update regarding the CO2 Sensor. Via Apple Home App, to get the CO2 value, you have to keep pressing on the CO2 Sensor square button, then press setting and then you have the level in ppm. Could this status be directly display in the CO2 Sensor square button, in the same way as Humidity and Air Quality?

Thank you in adv

[2019-01-19 17:03] nielsth commented on #26
I'm not sure if this is supported by HomeKit. Binary sensors generally don't show values in their tile, only regular sensors (such as Air Quality, Light/lux, Humidity) do.

[2019-01-19 17:05] JacVid commented on #26
Thanks for your answer. Does it mean, it won't be possible at all ?

[2019-01-19 17:15] nielsth commented on #24
Great, thanks!

[2019-01-19 18:08] skrollme commented on #26
@JacVid the display of the measurements is defined as is by the home.app. There is no way for an accessory to define where/how it's values are displayed, as far as I know.

I would suggest to use an other HomeKit app, like [Eve](https://itunes.apple.com/de/app/eve-für-homekit/id917695792?mt=8).

[2019-01-19 18:08] #26 closed

[2019-01-21 07:20] skrollme commented on #19
Any new information on this, @cschildhorn ? Did it happen again? Please also take a look at this issue and my answer there: https://github.com/skrollme/homebridge-eveatmo/issues/25

I will close this soo because it seems that we can make no progress here.

[2019-01-21 19:34] cschildhorn commented on #19
Hi,

I still have sometimes the "token expired" error in my logs. Homebridge is freezing and no new data in the eve app for example. Restarting service always fixes this. The last entires in the homebridge log are a few of this errors before the freeze.

[2019-01-22 12:35] skrollme commented on #19
Interesting. I took a look at my homebridge log from the last weeks and I see that every now and then the following error occurred once, followed by successful data-request.
`[eveatmo] WARN - Netatmo: Error: getStationsDataError error: Access token expired`

So the token gets renewed automatically (as designed) and the plugin continues it's work. At the moment I have no idea how to debug this. May

[2019-01-26 14:58] JacVid commented on #24
Thanks a lot !

[2019-02-15 12:40] hronix commented on #23
Okay, I will try. But I can report my testing results so far. I disabled homebridge-eveatmo plugin for 1 month and everything works just fine, no problems or crashes. So I'm going enable it again and disable other one by one.

[2019-03-04 22:48] jbk1988 opened #27 "Home Assistant?"
Hi,

I'm very new to programming, and I wanted to figure out if there is a way to adapt this to Home Assistant. Do you have any suggestions?

Thanks!

[2019-03-05 10:48] skrollme commented on #27
Hi,
what do you especially mean with "... adapt **this** to Home Assistant..."? I personally never used _Home Assistant_ before, but I found a Netatmo connector in it's component-library (https://www.home-assistant.io/components/netatmo/). I do not know what features this component supports and how it looks like when it is working. My suggestion would be to simply try it out and if the component d

[2019-03-05 10:48] #27 closed

[2019-04-18 07:32] schroot72 commented on #19
I have The same problem. Maybe the token should be refreshed ? https://dev.netatmo.com/en-US/resources/technical/guides/authentication/refreshingatoken

[2019-04-25 16:01] skrollme commented on #19
Because I forked the plugin from the base Netatmo-plugin I never really looked/overhauled into the base-logic which fetches the data from the API.
I will take a look at this soon.

[2019-04-26 18:06] skrollme commented on #19
I checked the used Netatmo-library:
On [this line](https://github.com/karbassi/netatmo/blob/master/netatmo.js#L123) the refresh is automatically set up with a timer, **if** the _expires_in_-value is set in the first auth-response. I manually did an auth-request to check this, and _expires_in_ **is set**!

The value for _expires_in_ is _10800_, which equals to 3 hours. So if the refresh would not w

[2019-05-01 08:58] skrollme commented on #19
**Update:**
So far I did not find a working solution to regularly trigger a reauthenticate without breaking everything else. The underlying netatmo-library fires events in this case which break things else or re-calls callbacks which should not have been called a second time.

Also I would not consider myself a NodeJS pro - only "learned" this a bit for my personal homebridge projects - and so I p

[2019-05-01 13:49] skrollme commented on #12
Hey @DJay-X
every now and then I looked at it and hoped that maybe an eve-update would resolve this but that did not happen so far. I just played a bit around and added an extra co2-characteristic to the accessories. This will be displayed in the stock-home.app and also in the eve.app but it can be hidden there if needed.
While testing I noticed that reordering this new co2-characteristic is even

[2019-05-05 22:03] DJay-X commented on #12
Thanks @skrollme I do the same "every now and then I looked at it and hoped that maybe an eve-update would resolve this" ;)

I have a Eve Weather and a Netatmo Sensor in the same Room "Balkon".
Sorting the Eve Categories "Temperatur, Luftfeuchtigkeit, Luftdruck" works like expected.
Doing the same with the Netatmo sensor, it's not possible.
Still a mystery. ;)  But thanks again for keeping it in m

[2019-05-30 07:58] solbadguy2010 opened #29 "Disable outdoor Module"
Hi,
I have a defective Outdoor Module but the Indoor one is running fine. Is there a setting that disables the two outdoor Values in Homebridge, so that only indoor values are visible in The Home App?

If not, could you add one, please :-)

Timo

[2019-08-27 08:11] vidalpascual commented on #19
Any news about this? I have the same issue described above with the same errors. It seems that Netatmo have changed something in their servers.

[2019-08-27 18:02] skrollme commented on #19
I just looked into my homebridge-log and there was no single eveatmo-error in the last 3 days. So it does not seem to be a general issue. My polling-interval is 1 call every 9min at the moment

[2019-10-04 09:01] marcoxedge opened #30 "Using windsensor data for opening raffstore"
Hello,
I am a absolute beginner and just bought a raspi, so sorry for any dumb questions.

I'd like to have all my smarthome functionalities in Apple HomeKit. Unfortunatelly a lot of components do not support HomeKit. One of these is the weatherstation from Netatmo.
That's how I landed here.

In case of exceeding certain wind speeds the raffstores have to open in order to protect them from any dam

[2019-10-04 15:12] skrollme commented on #30
Hello

Because I do not own the netatmo-windsensor by myself I did not setup it by myself and I'm not sure if this kind of automations will work.

If you set up homebridge on your pi you only need the netatmo-basestation. The homebridge-plugin fetches the weatherdata from the netatmo-servers. if you want to access your HomeKit devices from outside your local-network, you need an AppleTV or an iPad

[2019-10-04 15:12] #30 closed

[2019-10-07 06:25] skrollme commented on #29
You can add a "blacklist" node to the eveatmo-platform in the homebridge-configuration to exclude specific devices. You have to use the device-ids here. Example:

[code]

I will add the description to the plugins README soon.

[2019-10-07 06:25] #29 closed

[2019-10-20 12:32] HomeKidd opened #31 "Help needed: Eve Motion and Eve Room"
Hi!

I'm working on implementing custom Eve characteristics for ESP8266 based HomeKit firmware that works without any bridge via Wi-Fi.

Currently I've successfully added Eve Degree (shows up as "real" Degree in Eve app), but i can't find the correct order for Eve Room! But i've found some things in Accessory Simulator, e.g: VOC density doesn't shows up on Eve app (Room's sensor can measure it...a

[2019-11-03 20:24] skrollme commented on #31
Sorry for the late response, I was on vacation. But unfortunately I cannot help you with with. Neighter I have a Eve Motion by myself nor I have some knowledge about the special characteristics of the EVE Motion.

[2019-11-03 20:24] #31 closed

[2019-11-03 20:24] #19 closed

[2019-11-12 23:22] in60-code opened #32 "parameter to filter Netatmo devices"
Hi,

I wish a parameter to select which Netatmo devices are available on HomeKit.
You can filter the devices by device id.

~Ingo

[2019-11-13 16:53] skrollme commented on #32
This is already possible but not just documented. It works like in _homebridge-netatmo_. See:
https://github.com/planetk/homebridge-netatmo#control-accessories-by-device-id

[2019-11-13 16:53] #32 closed

[2019-11-17 04:56] pitleh opened #33 "Sonometer Featurerequest"
Would it be possible to add the sonometer data to the plugin? Was not mentioned anywhere.

Thanks

[2019-11-17 13:46] skrollme commented on #33
Because _homebridge-eveatmo_ aims more to mimic an _eve_-device this functions is not included here. Bu you can use this original _homebridge-netatmo_ plugin, which already supports the sonometer: https://github.com/planetk/homebridge-netatmo

[2019-11-17 13:46] #33 closed

[2019-11-19 21:38] andrewtzn opened #34 "Ignore or record last valid data when outdoor module disconnected"
Hi,

First of all, I would like to thank you for creating and maintaining this plugin.

I would like to report a bug.

Whenever outdoor module connection as lost the data will get recorded as 0 on temperature and humidity.
Is it possible to have the plugin ignore the invalid data? or it can just record the latest valid data until it can receive new data.

Here are some screenshot of the issue:
<im

[2019-11-20 06:36] skrollme commented on #34
Hi @andrewtzn , I will definetly take a look at this, but be aware that this is just a spare-time project so it may take some time to dig deeper into this.

If you are "a little bit into nodeJS", feel free to start going through the code and make suggestions or even create a PullRequest ;)

[2019-11-22 23:44] andrewtzn commented on #34
Thank you for your reply @skrollme !
Please take your time. I'm very grateful to have you work on this.

For sure, I'll take a look at it. I'll post feedback if I find anything.
Do you know where is the temperature and humidity cache data stored on a Homebridge server?

[2019-11-27 19:25] skrollme commented on #34
On my setup the persistence-files from the history-plugin inside homebridge-eveatmo are located inside the _~/.homebridge_ directory. There should be one file per device and - at least in my case - they are named after the host and the netatmo-devicename:

[code]

I took a short look at the Netatmo API to look how to detect a "non talking module" and I have a clue, but I think it would be better t

[2019-11-27 21:19] andrewtzn commented on #34
Thank you @skrollme ! I'll take a look at those files

Approaching the issue from API make more sense than approaching from the fetched data.

Thank you again for your efforts!

[2019-12-09 19:37] skrollme commented on #34
Hello @andrewtzn
please take a look at the just released version 0.4.9 and let me know if this works for you.

[2019-12-10 13:06] ntableman opened #35 "Seemingly silent fails brings down homebridge"
With the recent update this plug in causes my entire set of home bridge devices to fail in HomeKit. I have turned on debug and tried to find ways for this to work, but so far I cannot figure out any information to share.

I know it is this plugin because I removed all my platforms in the config and put them back in 1:1 and this one is the one which causes the issue.

Any ideas on how to help debug

[2019-12-10 20:17] skrollme commented on #35
Hello @ntableman , I'm sorry for this, I tried the exact same code for a fews days before releasing and had no problems so far. Current measurements and history work like expected.

Concerning debugging: Homebridge should print out error-messages or exceptions when crashing. You could also try to start it without deamonization in a terminal and see when/how it fails.

[2019-12-14 02:04] andrewtzn commented on #34
Hi @skrollme ,

Thank you for the update. I appreciated it!

However, I think there is an issue. The update seems to make my Homebridge unreachable.
When I installed the plugin, all of my accessories were showing "No Response" on the Home app.
When I removed plugin and the configs for this plugin on the config file, everything is reachable again.

I even started from stretch and tested to see if t

[2019-12-14 14:13] skrollme commented on #34
Interesting, I'm also using the new version since release (raspberryPI, homebride in Docker) and I have no problems at all.
Do you have some more details, error-messages from the log, or something else?

[2019-12-14 14:15] ntableman commented on #35
Sure, just making sure others are aware this plugin can bring their Homebridge to a halt, even when used alone. I happened in the prior version as well, which is why I updated it.

I trolled the logs: there isnt an error being kicked out, even if Homebridge is in debug mode.

[2019-12-15 19:56] andrewtzn commented on #34
I did checked the log on the Homebridge server, but there were no errors.
Will I be able to find more detailed logs on the plugin level?

However, I think I found out what the issue was.
The outdoor module was failing and wasn't sending any data yesterday and Friday.
I retrieved the outdoor module and it was able to turn on after one night.

I re-added the plugin and pasted the configs, and there

[2019-12-20 19:00] skrollme commented on #34
Hey @andrewtzn , thank you for your help. It could indeed be a problem, if a sensor is not available while homebridge boots up. I will take a look at this

[2019-12-21 20:03] andrewtzn commented on #34
Hi @skrollme !
No problem! I'm glad to be part of the debugging process. :)

[2019-12-24 10:39] skrollme commented on #34
Hi @andrewtzn ,
I just published an update which could fix the startup problem in 0.4.9. Nevertheless, the plugin was not designed to start up with missing / not-responding modules. I hope it works 🙈

🎄Happy holidays 🎄

[2019-12-24 10:40] skrollme commented on #35
Hey @ntableman , please check out the just published version 0.4.10 at let me know if it helped

[2019-12-25 02:41] andrewtzn commented on #34
Thank you @skrollme !
I really appreciated your continuous support!

I will close the issue now.

Same to you! Happy holidays!
Happy new year! 🎉

[2019-12-25 02:41] #34 closed

[2019-12-25 17:34] Phoenix-DH commented on #35
Already tried the latest version?

[2019-12-31 04:14] shnhrrsn commented on #35
Yeah, this is a super strange issue.  Based on the logs everything looks fine.  Eveatmo and other platforms/plugins I have all look to boot up and “work”, they log accessories they’ve detected and such.  Homebridge itself thinks it’s working, QR code prints, etc.

However, once I go to Home.app, nothing works, accessories say they’re not responding, when I try to trigger one nothing happens.  As s

[2019-12-31 06:51] Phoenix-DH commented on #35
Really strange ... I tried this version... all good.

[2020-01-02 17:32] lisanet commented on #35
I ran into the same issue and took a look at the code. AFAICS eveatmo uses netatmo.js module to request data from the Netatmo servers. This request function has no timeout and may wait forever until Netatmo servers answer, either with data or with an error. And because eveatmo uses callbacks it will block execution until this request will finish.

I've done a quick test by adding a timeout value t

[2020-01-03 11:52] skrollme commented on #35
Hello @lisanet , I agree that there is definitely be a better (and cleaner) way to make this plugin working. This plugin was based on another plugin and it was my first nodeJs project... just to put some excuses on the table ;)

Because I have very little problems with the current codebase (and a stable internet connection at home) I currently do not plan to do an overhaul by myself.

I have also

[2020-01-05 11:10] lisanet commented on #35
As I said, I'll have a look at the code and try to make more robust if netatmo servers won't answer.

I read your issue on netatmo.js too. But IMO your proposal is of no use. If you use external http requests to get some data, you should not wait in  a synchronous way for the answer as this will block execution of the code until the server answers. This is the case with your code, cause you'reusin

[2020-01-06 12:31] skrollme commented on #35
@ntableman: New update with some fixed from @ lisanet is out since yesterday. Please give it a try and let me us know if you experience some differences

[2020-01-06 12:33] skrollme commented on #35
As mentioned above, I would be grateful for every PR, but because the current state works for me and I have almost no problems (except on longer Netatmo API outages) I do not plan to start a refactor in the near future.

[2020-01-07 14:23] G60GT opened #37 "Exclude items from being passed over to HomeKit"
Hi,

now that the (v3) Weather Station is officially HomeKit compatible, is it possible to add an option to hide certain components from HomeKit? I'd like to continue using homebridge-eveatmo to get the (officially unsupported) readings from rain and wind gauge into Eve, including history. But I don't really need the duplication of the Main, indoor and outdoor modules. So, if there were a way to o

[2020-01-08 15:01] skrollme commented on #37
You can try to use black/whitelists like in the original-plugin. See the following documentation:
https://github.com/planetk/homebridge-netatmo#control-accessories-by-device-id

[2020-01-08 15:01] #37 closed

[2020-01-08 16:08] G60GT commented on #37
I don't see how that would work, as only the Main Module has a MAC address you could blacklist. But then the readings from the rain and wind gauge would be gone, too.

[2020-01-09 07:06] skrollme commented on #37
The MAC address you see there is not the network's MAC-address (I know, it's missleading). It is an Netatmo internal MAC address. Every module should have this as well. To get these, do a sample request [here](https://dev.netatmo.com/apidocumentation/weather#getstationsdata) when logged in. You should get a list with all modules and their addresses.

[2020-01-09 07:22] G60GT commented on #37
Thanks for the info. Didn't know (or deduce from the readme of the original plugin) that you have to get the module-specific MACs (IDs) from the dev center.

It works - that's great! Again, thank you very much!

[2020-01-09 10:26] skrollme commented on #37
I will add some information on this to the _homebribge-eveatmo_ readme

[2020-01-12 08:12] sonicpixel2020 commented on #35
I have exactly the same problem in Hoobs. I was going back to v0.4.8. This version is running without that issue.

[2020-01-13 19:27] skrollme commented on #35
@sonicpixel2020 Can you confirm that all your Netatmo-accessories are reachable on homebridge-startup? You can check this here for example, if you are logged in into your account:
https://dev.netatmo.com/apidocumentation/weather#getstationsdata

[2020-01-25 16:46] hajanet commented on #35
I ran into this issue too today.
Therefore I have fully recovered my whole raspi and my whole configuration.

My Setup looks like: homebridge-ui, homebridge-hue with deconz connected.

Now, while installing and reconfiguring the whole setup, all crashed again after installing 0.5.0 of eveatmo-plugin.
I've then tried different things.
I've tried to go down with the version: no change.
I've then unp

[2020-01-25 17:00] sonicpixel2020 commented on #35
I do not know exactly what you mean. But after I did an update to hoobs 3.1.20, the plugin is working.

[2020-01-25 17:17] hajanet commented on #35
I can't guarantee that.
But, this is the big point, the homebridge-plugin should not stop all others from working, if the netatmo-station is not reachable.

[2020-01-25 21:17] hajanet commented on #35
Update: I've now resetted my eveatmo to 0.4.8 as this is the last version which is really working with my setup.

Regards

[2020-01-26 18:13] skrollme commented on #35
Hello @hajanet ,
I'm sorry to hear that and I agree with you that this should not happen but I also do not know how this could happen. I have no problems with the current state (and the previous state before 0.4.9). The changes in 0.4.9 were only made because of some people had problems; now other people have different problems.
Because this is a hobby project for me I do not plan to put hours or

[2020-01-26 18:13] #35 closed

[2020-02-14 13:32] DarKOrange75 commented on #15
Hi,
I am using the latest release and I have the exact same problem. The values of the rain gauge don’t reset to zero... please help.

[2020-02-15 14:40] DarKOrange75 commented on #15
Ok I removed and reinstalled the plugin and this issue seems to be fixed...

[2020-02-22 21:20] miquellaboria opened #38 "After update Hombridge UI X this plugin causes all accessories not responding"
After update Hombridge UI X this plugin causes all accessories not responding, after remove config all works again.

[2020-02-23 18:35] skrollme commented on #38
Hello @miquellaboria ,
I'm not sure if we are using the same ConfigUI but I'm using homebridge-config-ui-x and just updated to v4.10.3. Everything is still working for me.

[2020-02-24 00:24] miquellaboria commented on #38
Hi @skrollme,
Yes it‘s the same, I downgrade Hombridge UI X and have the same issue... I don’t know why, but when I add Config data ALL accessories have no response :(

[2020-02-24 00:26] miquellaboria commented on #38
I have the outside sensor sometimes disconnects, can be this the cause?

[2020-02-24 11:40] skrollme commented on #38
The plugin's logic is based heavily on the fact, that all modules are present in the Netatmo-API Response at startup. If this is not the case in your setup, try restarting it when the outdoor-module is in reach.

[2020-02-25 11:46] miquellaboria commented on #38
When I fix outdoor module all works fine...

[2020-02-25 11:46] #38 closed

[2020-02-25 19:59] skrollme commented on #38
Great to hear that. I'm sorry for the inconveniences..

[2020-04-11 09:56] th3cube commented on #35
Something after 0.4.8 completly messed up my homebridge. took me hours to find out that eveatmo plugin was the problem. after removing eveatmo everything worked again.

[2020-04-21 22:42] MexxReal opened #39 "homebridge error if device not reachable"
If the Netatmo station isn't available, no errors in log or in homebridge are shown.

A few days ago, the cable for the Netatmo station has been loosened. Because of that, all devices in homebridge haven't been accessible anymore. After hours of troubleshooting, I discovered the problem; the cable of the station.

Therefor it would be nice, to become informed in log about an error like that.

[2020-04-27 18:56] RPJacobs commented on #39
My outdoor battery died, same result. Homebridgehad no error but all accessories where no longer available in homekit.

[2020-04-28 17:23] nicoduj opened #40 "Warnings since homebridge 1.0.2"
Hi,

Since update, I got thoses warnings, about CarbonDioxideService I think :

HAP Warning: Characteristic 00000093-0000-1000-8000-0026BB765291 not in required or optional characteristics for service 0000008D-0000-1000-8000-0026BB765291. Adding anyway.

My config :
        {
            "platform": "eveatmo",
            "name": "NicoNetatmo",
            "extra_co2_sensor": false,
            "t

[2020-04-28 17:33] nicoduj commented on #40
Made an issue there : https://github.com/homebridge/HAP-NodeJS/issues/817, but it seems it has moved to another dedicated sevrice :

[code]

[2020-04-28 17:35] Supereg commented on #40
As described in the issue. There wasn't any change there. 🤔

[2020-04-28 17:41] nicoduj commented on #40
this plugin is using an AirQuality sensor with Characteristic.CarbonDioxideLevel . It is not declared anymore. I was jsut ointing that it should expose this service instead.

[2020-04-29 05:34] skrollme commented on #40
Hello @nicoduj ,
I'm aware that the service/characteristic-combinations are not fully compliant with the standards but the aim of this plugin was to mimic the EVE-Devices as close as possible, to be used inside the EVE app. There were some tradeoffs to keep both apps - Apple's home.app and eve.app - both usable.

Are there still some points to discus here or is it really closed? I did not update t

[2020-04-29 05:36] skrollme commented on #39
Thank you for your reports. Because I have not much spare time for this hobby-project at the moment It could take a while for me to investigate this.

Feel free to take a look at the code, giving hints or doing PRs.

[2020-04-29 06:26] nicoduj commented on #40
Hi,

thanks for answering. I understand your point, I was just reporting a warning in homekit since 1.0.0 (evrything else is working fine),and i am questioning myself about this option "extraCO2 sensor", especially since netatmo is compatible for some version with homekit. Eve app is compatible also with homekit, so I am wondering if it would not be compliant ot expose CO2 always as another sensor

[2020-04-29 06:50] nicoduj commented on #39
Hi, just a "guess", but I think it is because for all getCharacteristic, you are doing the callback only after data refresh.
[code]
So, if the nettamo is not responding, it will take time to have a timeout, and block all following refresh I think, making device non responsive in homekit.
I found that for getCharacteristic (not set generally if we want to ensure the command is good), it seems bette

[2020-05-01 16:17] skrollme commented on #40
Hello @nicoduj ,
I will keep this open as a reminder, but as mentioned before some of the decisions were made on purpose. And as long as it works like expected I think I will keep it this way. The extra CO2-Sensor was added for more info in apple's home.app.
But I also see the warnings in the log after updating to homebridge 1.0

[2020-05-01 16:19] skrollme commented on #12
Hey @DJay-X , after the last eve.app update this seems to be fixed for me. What about you?

[2020-05-01 19:45] skrollme commented on #39
After some tinkering I got my local homebridge development setup back working and tested with some mockup data.

@RPJacobs If I lower the battery-percent value below 20%, I get a battery warning indicator in the eve.app, but no push/warning in the default home.app. Does the home.app do this normally (battery warnings/push) on battery accessories? I do not own any other battery-powered accessories.

[2020-05-01 20:11] RPJacobs commented on #39
@skrollme correct I ignored the warning. The battery died, and HomeKit froze.

[2020-05-01 20:15] RPJacobs commented on #39
@skrollme i removed all plugins from home bridge one by one until HomeKit worked again. That’s how I found out that netatmo was the problem. So I logged into there website to verify my api key. That’s when I saw that one device was grey (lost). My outdoor module. So after some investigation I replaced te battery and al problems disappeared.

[2020-05-01 20:21] skrollme commented on #39
Thanks for the hints. As mentioned before I will test unplugging my base-station or removing the batteries of a module and check what is happening.

[2020-05-03 22:38] Supereg commented on #40
Did the warning not show in previous releases? Just curious. As this warning is in place since a long time 🤔 It's just a save guard inside HAP-NodeJS to show that you probably building a service incompatible with the official HAP spec (and possible incompatible with the Home App. Could be that Home App still displays it fine).
When you intentionally creating custom services, you may want to call `

[2020-05-04 16:40] nicoduj commented on #40
@Supereg : the warning was not here before homebridge 1.0 since those characteristics were allowed I think in hap before . But like you said, it is not in the spec, even if supported by home app. ```addCharacteristic``` :  "This is the way" 👍

Latest HAP :
[code]

HAP in 0.4.X

[code]

[2020-05-04 17:03] Supereg commented on #40
It seems like it just went missing in the Typescript rewrite of HAP-NodeJS. Don't know if this was on purpose. But the spec clearly states something different, so we probably gonna leave it that way.
You may want to to ensure that your `addCharacteristic` doesn't break old homebridge instances running in the case you wanna maintain compatibility

[2020-05-06 17:22] #12 closed

[2020-05-06 19:06] skrollme commented on #39
An hour ago I removed the batteries from one indoor-module. So far no problems. All other Netatmo-modules (basestation and other battery-powered modules) are still working and reporting.

The module which is dead was still reporting it's last value in homebridge. After I restarted homebridge it is not reporting anything at all - only it's default-values (11,1° Temp), but it is not crashing or bloc

[2020-05-06 20:37] MexxReal commented on #39
Thanks for responding! I'm using the actual version 0.5.0, but under Hoobs. Idk if this may cause those errors.
In my case, the basestation has been without energy. I didn't took a look on netatmo-website or the app.

In Hoobs, all devices were shown, but in HomeKit-App on iOS devices none of my devices responded.

[2020-05-07 18:08] skrollme commented on #39
Thanks for your response @MexxReal . I will test unplugging the base-station and report

[2020-05-10 10:36] kmengvik opened #41 "Netatmo: Error: Authenticate error: invalid_grant"
Have followed the instructions in detail.

[2020-05-11 11:57] sedony23 commented on #39
I also had similar problems without any low battery of the stations or an unplugged base station. All of a sudden all devices in HomeKit were not responding any more. I went through uninstalling all plugins and resetting homebridge until I figured out that this plugin caused it. No errors in the homebridge logs. This happened a couple of times already. I in the end uninstalled this plugin complete

[2020-05-11 17:43] #41 closed

[2020-05-11 17:49] skrollme commented on #40
Thanks for all your information. As mentioned above I'm aware, that the current-state does not follow the specifications. If this decision will break the functionality in the future, I will / have to change the plugin's structure. Until this I will keep it like it is at the moment. I can live with the knowledge that my homebridge log contains some warnings :D

[2020-05-11 17:49] #40 closed

[2020-05-11 17:54] skrollme commented on #39
Can you say if the Netatmo-Servers were down while the problems occurred, @sedony23 ? Netatmo-API outages were the only events when my homebridge-setup (native RaspberryPi then, docker on RaspberryPi now) got stuck. But after the Netatmo-Servers recover, a simple homebridge-restart did the job to get everything back working.

[2020-05-12 20:56] MexxReal commented on #39
Right now I got an error in Log:

12.5.2020, 22:45:59 [eveatmo platform] WARN - Netatmo: Error: getStationsDataError error: Internal Server Error

Via https://my.netatmo.com/app/station I can see my station and the ext. modul. Also in netatmo app, no errors are shown and correct data of base-station and ext. modul are shown.

I checked, if my devices in Homebridge are useable; they are not.
In hoo

[2020-05-13 07:19] skrollme commented on #39
`12.5.2020, 22:45:59 [eveatmo platform] WARN - Netatmo: Error: getStationsDataError error: Internal Server Error`
.. says, that there are problems on netatmo's API Servers or at least the server-response was not what the plugin expected (could be a timeout, too). Their normal webpage (my.netatmo.com) may work in the meantime, but that's unrelated.

**But similar messages/errors from the API can al

[2020-05-13 07:51] MexxReal commented on #39
My TTL is set to 900 the whole time. For my use case it's not necessary that the data is requested more often.

[2020-05-13 17:11] skrollme commented on #39
900s should definitely be high enough to not get soft-banned. I used a small test script (see below, netatmo npm package has to be installed for this) to test the API when needed:

[code]

[2020-05-14 18:23] sedony23 commented on #39
OK, so I checked again and it might actually also have been a problem with the battery of my outdoor sensor as I had to replace the battery now... But still this shouldn't lead to a situation where all homebridge devices appear with no response in HomeKit...

[2020-05-16 08:45] skrollme commented on #39
Interesting. As I mentioned before, I removed the batteries from one module for about 24h and everything kept working without problems. So I did not have the "no response" situation. Is this behavior reproducible when you remove the batteries from this module again?

[2020-05-18 19:10] sedony23 commented on #39
Sorry, but I won’t try it again. It messed up the whole setup. I actually had to reset the whole homebridge setup... switched to a different plugin, which doesn’t have the eve history but well...

[2020-05-25 10:07] RPJacobs commented on #39
I also got the error:

[5/25/2020, 11:55:20 AM] [netatmo platform] WARN - Netatmo: Error: getStationsDataError error: Internal Server Error

Unable to start homebridge

On https://my.netatmo.com/app/station:

[A screenshot of a cell phone  Description automatically generated]

[A screenshot of a cell phone  Description automatically generated]

My main module was disconnected from the power, after

[2020-06-13 13:45] Marfre888 opened #42 "Netatmo Rain Gauge"
Hi,

Thank you for this plugin, as for some reason, despite the weather station v3 being supported by homekit, the rain gauge still shows up as not supported, and thanks to your plugin it is at least able to be controlled by eve.

My main idea for getting the weather station was to close my windows automatically when it is raining. Unfortunately, I can't get them to close with this plugin either.

[2020-06-15 10:55] skrollme commented on #39
@RPJacobs these "Mailresponse to GitHub Issue comment" is terribly to read. And I don't know if you wanted to attach screenshots, they are not here.

As mentioned multiple-times before everytime I disconnect the base-station or a module reaches low- or zero-battery the plugin does not stop working. It just keeps the last values.

If you restart the Homebridge and you get errors, this should be a s

[2020-06-15 10:55] #39 closed

[2020-06-15 10:58] skrollme commented on #42
Hey @Marfre888 ,
that is quite a good idea to implement a "is it raining" switch/indicator to enable such automations.
I will add it to the ToDo-List for the plugin, but recently I rarely using it by myself at all. So it could take a while that this will become reality.

[2020-09-06 11:57] danny1605 commented on #42
how long will it take. approximately.

[2020-09-22 10:04] gungner opened #43 "No co2, wind, rain"
First of all, THANKS! My connection to netatmo works and it starts its initializing start of with all weather modules

<img width="904" alt="Screenshot 2020-09-22 at 11 57 10" src="https://user-images.githubusercontent.com/6198782/93868774-3cfd1100-fccb-11ea-8585-b014056c658d.png">

However, only battery, temp and humidity shows up in my HOOBS. No co2, wind, rain. I understand that it should from

[2020-09-22 16:36] skrollme commented on #43
Hello Tord,
I have no experience with HOOBS and never tested it or even know about how it works internally. So I can not give any advice on this. I personally use my homebridge-eveatmo plugin in a native homebridge-setup on a RaspberryPi and for me my rain-sensor works.
Concerning the CO2 Sensor: Have you enabled the extra CO2 sensor for HomeKit in the config?
`...
extra_co2_sensor: true,
...`

[2020-09-22 16:36] #43 closed

[2020-09-22 18:06] gungner commented on #43
Hi, HOOBS is just a layer on top of homebridge, like a supervisor . Yes I’ve enabled extra co2. I did get an high level co2 alarm through homekit but I can’t read any live values.  I’ll try it on a native homebridge installation.

Mfg tord

[2020-09-22 18:33] skrollme commented on #43
Have you already tried using the Homekit App from Eve? The homebridge-eveatmo plugin was designed to work with this (custom characteristics, measurement history, ...)

[2020-09-22 18:41] gungner commented on #43
Long time ago, I’ll try it again. Thinking of migrating from Hassio to homebridge (Hoobs). Thanks.

MFG tord

[2020-09-23 06:23] gungner commented on #43
Now I've tried it with EVE, all information is there :) Thanks a lot

MFG Tord

[2020-09-28 12:32] Marfre888 commented on #42
@skrollme Thank you for your message. As the rainy season starts coming in. Would it be possible to integrate this feature?

In reality a, if 'rain last hour' = 0mm occupancy sensor OFF, otherwise ON, would work great. There is no need for it to be super specific.

 It would at least make it possible to close my windows if I'm not home and it starts raining, which is all I'm after.

Thanks :)

[2020-10-08 05:57] x7onix opened #44 "HomeKit connection failed completely because of empty battery of outdoor module"
Hi,

first of all, thanks for the good work and the plugin, did run like a charm till yesterday :). If this problem is already known, than sorry didn't find it.

I had yesterday the following Problem:
I restarted my homebridge system. After the restart my HomeKit Hub marked every Accessory with "No Response". Homebridge is running on a raspberry pi. On that raspberry there are some other systems t

[2020-10-08 06:04] #44 closed

[2020-10-08 06:05] x7onix commented on #44
Sry, just saw that some issues because of this are already closed with "won't be fixed"

[2020-10-14 10:40] damianfm opened #45 "Homekit crash"
Hi!

I have homebridge-eveatmo plugin and homebridge 1.1.2 and it was running ok until i upgraded to 1.1.6. In hombrebridge it's ok, i see temperature, humidity, etc... but it makes a crash in homekit-homebridge connection because all other elements show as disconnected when i have homebridge-eveatmo "online", if i delete this plugin, all elements show online again. I've tried multiple configurati

[2020-10-20 08:28] fwiehl commented on #42
Is it right, that the rain Gauge isn't supported by homebridge yet?
I'm using homebridge with eveatmo plugin. The rain sensor is showing in Apple Home as "not supported".

[2020-10-20 08:32] julien94800 commented on #42
Hello,
It is supported by homebridge. But not supported by Apple Home app. In order to see the accessory fully working, you should have a look on the Eve app. There you will see that even if not supported in Home app, it is fully supported there

[2020-10-20 08:36] fwiehl commented on #42
Oh, yes, I've recognized the rain sensor in EVE app. It is very sad, because all other things works with Apple Home App...

[2020-10-30 05:02] gioz73 commented on #45
Hi, I have the same issue.
Homebridge v1.1.6
Node v14.15.0
Npm V 6.14.8

[2020-11-01 13:24] skrollme commented on #45
I was still on _homebridge@1.1.0_ but I just updated to v1.1.6. Everything works fine in my setup (_homebridge_ on a _node:10-alpine_-image inside docker on raspberryPi, 6 plugins including _homebridge-eveatmo@0.5.0_)

So it does not seem to be a general issue. Please provide more details on the problem (error messages, logs, ..) or I will close this issue soon.

[2020-11-01 17:58] gioz73 commented on #45
I have reinstalled this homebridge three times https://github.com/homebridge/homebridge-raspbian-image
and I've always had the same problem.

Inviato da iPhone

[2020-11-01 19:22] skrollme commented on #45
As I wrote before: Please provide more information on what happens exactly. Error messages, logs, ...  "The same problem" or "it crashes" does not help.

[2020-11-01 20:43] gioz73 commented on #45
Inviato da iPhone

[2020-11-03 23:44] damianfm commented on #45
There are not homebridge errors (debug mode), no more info shows in logs, in homebridge netatmo temp, humidity, etc.. ok but, in homekit, all homebridge accesories are "not responding" when i install eveatmo plugin and restart homebridge. I have 12 plugins installed and only crash with eveatmo, sorry, i can't give you error logs because there aren't any errors in logs

[2020-11-06 14:50] Blog404DE commented on #45
### System Information
System: Rasbian (Raspbian GNU/Linux Buster (10)) / Raspberry 4
NodeJS: v12.19.0
NPM: 6.14.8
Homebridge: v1.1.6

Installed Homebrige-Plugins:
├── homebridge-config-ui-x@4.31.0
├── homebridge-eveatmo@0.5.0
├── homebridge-hue@0.11.77

### Problem-Description

I could confirm this bug, too. I've installed homebridge complete from scratch with only three plugins and everything wa

[2020-11-07 13:04] 2Qt2beStr8 opened #46 "Battery Indicator"
Hi,
would it be possible to implement separate switches for the battery indicator in the home app?  In Homebridge, these switches are already displayed at the devices

best regards
DJ

![E9592EC0-2997-4FDC-A202-791410C64918](https://user-images.githubusercontent.com/20930745/98442134-2b4cbd00-2103-11eb-8273-176efa60bee1.jpeg)

[2020-11-07 18:01] nberardi opened #47 "Accessory out of compliance on iOS 14.1+"
I am getting an accessory out of compliance on iOS 14.1+ when I have this plugin installed.  I was able to track it down to this plugin on my Homebridge setup after wiping my installation clean and slowing adding new plugins until one broke the experience.  If there is any debugging I can do to help with this bug please let me know.

[2020-11-11 18:59] skrollme commented on #47
Interesting, never happened to me before. So...
- Which Homebridge Version you use
- Which version of my plugin you use
- In which app/log you see the notification

[2020-11-11 19:03] skrollme commented on #46
I'm not really sure what you exactly want :D Where does this screenshot from? I do not use this app/tool. I'm using Apple's default Home.app and the third-party EVE.app, and I see no separate "Battery-items".

[2020-11-11 19:42] skrollme commented on #45
I'm still completely clueless how this come from and how to reproduce this. A few node versions ago I had similar problems. It worked for a short time after restart and then it stopped. This behavior was caused by connections which could not kept open  for long enough.
Currently I'm using node v10.23.0 - the LTS - , and honestly I do not see a reason why I should update it because it works and it

[2020-11-12 16:42] Blog404DE commented on #45
I really understand it - it's really difficult to track it down.

I've tested it with Node v10.23.0 (as you) and v12.19.0. Homebridge was testet with Version 1.3.0-beta.22, 1.2.3 and 1.1.6 (latest Version).  Eveatmo had the version 0.5.0 and it was installed on the Raspbian Image (Buster).

For now, I'm using the nativ HomeKit support from my Netatmo Station - even if the "Eve"-extension is not su

[2020-11-12 20:50] 2Qt2beStr8 commented on #46
This screenshot comes from the Homebridge UI. I know that this Switches are not visible in Apple‘s default Home.app — i see them only on the Homebridge UI Webinterface.

[2020-11-18 16:22] nberardi commented on #47
@skrollme thanks for the response

**Which Homebridge Version you use.**

I am using Homebridge 1.1.6, also tried with 1.2.3 with the same results.  Additionally I tested it out on HOOBS with the same result.  https://www.reddit.com/r/HOOBS/comments/iwfgc3/accessory_out_of_compliance/garpoui/?context=3

**Which version of my plugin you use**

I was using the latest one published to NPM => 0.5.0 (2

[2020-11-19 11:26] jostrasser opened #48 "Unable to remove exposed "unsupported devices" (Rain, Wind) from Favorites"
**Describe the bug**
Unable to remove exposed "unsupported devices" (Rain, Wind sensors) from Favorites.
Issue exists since iOS14

**Version you use**
- homebridge version 1.1.6
- node version 14.15
- plugin version 0.5.0

**To Reproduce**

Check favorites in Apple Home App
Klick on an unsupported device
The switch to remove it from Favorites is missing

Thanks!

[2020-11-19 11:30] jostrasser commented on #48
Similar issue:
https://github.com/ebaauw/homebridge-hue/issues/767#issuecomment-695763159

[2020-11-19 11:32] jostrasser commented on #48
Is there a way to "exclude" these types of sensors?

[2020-11-19 14:13] havman-x commented on #47
I confirm what @nberardi experienced, with the same versions. I pretty much went through the same steps narrowing down to the eveatmo plugin, but have some additional input:
 - tested on a (non-docker) Pi 4, as well as in docker on Synology NAS
 - tried to add a clean Homebridge with eveatmo on iOS 12.4.9 also, but without success. Different error message than "out of compliance" though
 - managed

[2020-11-19 16:23] Marfre888 opened #49 "Eveatmo breaks homebridge if Netatmo Weather does not connect"
Hi,

I'm runninng into a problem with the Eveatmo plugin. Presently my Netatmo weather station for some reason was failing to correctly find the Wifi signal and connect to it. However I seem to have fixed that now.

Problem I'm having with the Eveatmo plugin, is that if the Netatmo weather station is offline, it will prevent homebridge from running, the log reports that the plugin failed to talk t

[2020-11-19 20:07] skrollme commented on #46
Hello @2Qt2beStr8 ,
the battery-services are implemented in a default way, so that they are displayed in HomeKit apps on their proposed places/menus. I'm not planning to remove them or to add switches. If you do not want to see certain services in HomebridgeUI this would be a filter-functionality for HomebridgeUI.
But you are also free to fork this plugin and/or make a pull request to implement th

[2020-11-19 20:07] #46 closed

[2020-11-19 20:23] skrollme commented on #48
Hey @jostrasser ,
you can exclude devices via white/blacklisting (see: https://github.com/planetk/homebridge-netatmo#control-accessories-by-device-id)

The _homebridge-eveatmo_ plugin was designed with the focus to work best with HomeKit app from EVE. The default Home.app always came on second place. And as far as I know there is no  way to control an accessories appearance differently for differe

[2020-11-19 20:24] #48 closed

[2020-11-19 20:26] skrollme commented on #47
The reason why I did not see this kind of warning so far is, that I'm using my current setup (paired with HomeKit as bridge) for a long time.
Doe it work if you add Homebridge to HomeKit first, and then adding eveatmo followed by a restart? It could also may help if you exclude unsupported accessories (wind, rain) via blacklisting (https://github.com/planetk/homebridge-netatmo#control-accessories-

[2020-11-19 20:33] skrollme commented on #49
We had similar reports here in the past. For example in this issue: https://github.com/skrollme/homebridge-eveatmo/issues/39
As written there, I tested many cases by myself but I never got these kind of problems. So at some point in time I stopped researching in this direction because I had no chance to reproduce this. My setup even worked while real Netatmo-API outages.

If you have the ambitions

[2020-11-19 20:33] #49 closed

[2020-11-19 20:43] jostrasser commented on #48
Hi @skrollme

Thanks, I will try blacklisting the two modules.

Under iOS 13 I have removed the rain and wind sensor from my favorites.

A few days ago Netatmo has changed the names of the modules central on their servers:

https://forum.netatmo.com/viewtopic.php?f=5&t=19196

Now the plugin has overwritten all module names with the new name scheme. This forces that the modules were automatically r

[2020-11-19 21:17] dnx231 commented on #47
I'm facing the same problem. Can't pair Homebridge with configured Eveatmo Plugin. Without configured Plugin i was able to pair my Homebridge.

I also tried to configure the Plugin after i successfully paired the Homebridge. After a restart HomeKit can't reach any device from my Homebridge.

Using the following Configuration:
Homebirdge v1.1.6
Node.js v14.15.0
npm v6.14.8

On a Pi3

[2020-11-20 09:33] GDeb59 opened #50 "Integration of public Netatmo Weather Stations from neighbors ?"
Hello team,

I have also some neighbors with Netatmo stations.

I'm not developer but it should be amazing if :
- we can collect data from a Netatmo weather station with method : /getpublicdata
- store them with fakegato-history package (https://www.npmjs.com/package/fakegato-history) to see datas on EVE app

It will be a virtual weather Netatmo station.

Thanks for help,
Guillaume

[2020-11-20 11:45] skrollme commented on #50
If your neighbors share their Netatmo data via the share function the platform already has this is possible. I've already tried this with a colleague. But I think this way will share all the data, not only the outdoor sensor which could be a privacy issue :D

In general a good idea, but at the moment I do not plan to integrate larger features, because this is now only a side-project for me and I j

[2020-11-20 15:29] GDeb59 commented on #50
With an account on Netatmo API website and this method : https://dev.netatmo.com/apidocumentation/weather#getpublicdata
I can retrieve values from 3 neighbors's stations in my zone so really cool.

I found another homebridge plugin, still in development but dev seems to be stopped :
https://github.com/antoninbiret/Homebridge-Netatmo-Weather-Station

I use EVE room and EVE app + Apple Home app.
Wit

[2020-11-21 01:38] AgentMax81 commented on #47
Same for me running Homebirdge v1.1.6 on macOS 10.15.7

At first today the unsupported sensors appeared again as favorites. After an hour later
home bridge was not accessible anymore. A few moments before Homebridge UI was updated to v4.34.0

Set it up from the scratch again to figure out it stops working after eveatmo is configured.

[2020-11-21 13:54] adamrzanek opened #51 "Will the plugin work with Healthy Home Coach?"
Since I have problems with native readings from netatmo home coach is it possible to integrate it with the plugin?

[2020-11-21 17:03] skrollme commented on #51
Hey @adamrzanek ,
since I don't have a Home Coach by myself, I don't think it will happen anytime in the near future, sorry.
If you want to try it by your own, feel free. Pull requests are alway welcome.

[2020-11-21 17:06] skrollme commented on #50
As I said, I do not plan to add this in the near future. If you want to try it by yourself, feel free. Pull requests are always welcome.
Otherwise I would close this issue.

[2020-11-21 18:35] firebowl commented on #42
Also just noticed that the rain sensor in the Home App is displayed as not supported. This is not bad but annoying because I can't hide the rain sensor in the Home App. Is there a way to disable the rain sensor in the plugin? I find it a bit annoying to have an unsupported device in the favorites of the Home App and can't hide it.

[2020-11-22 08:03] Dobryash commented on #47
The same problems. I can't add homebridge to my house when using eveatmo.
iOS14.1
Hoobs 3.2.10
Eveatmo 0.5.0

[2020-11-22 09:27] skrollme commented on #47
Has anyone tried [blacklisting](https://github.com/skrollme/homebridge-eveatmo#control-accessories-by-device-id) for example the Rain-Gauge or a Wind-Sensor (if present)? Does the problem still occurs then?

[2020-11-22 09:30] skrollme commented on #42
You can only disable ([blacklist](https://github.com/skrollme/homebridge-eveatmo#control-accessories-by-device-id)) a certain device completely for HomeKit. If you do so it won't be present in Home.app AND EVE.app.
There is no possibility to do this on a per-app-basis, sorry.

[2020-11-22 10:22] firebowl commented on #42
Thanks, that was the solution. I could have just finished reading the documentary. ;)

[2020-11-22 10:35] Dobryash commented on #47
The same problems. I can't add homebridge to my house when using eveatmo.
iOS14.1
Hoobs

Only the internal module is installed.

[2020-11-22 20:07] foliveira commented on #51
Hi @adamrzanek @skrollme

I've implemented support for the Healthy Home Coach (PR #52) - have it working for a week at least and everything seems fine.

[2020-11-22 20:25] adamrzanek commented on #51
@foliveira oh wow! I will try to install it tomorrow for sure. Since official Home Coach implementation is broken (wrong breakpoints) you’re saving me from lot of frustiations ;) @skrollme can you implement it to your plugin?

[2020-11-22 20:31] foliveira commented on #51
@adamrzanek as I've mentioned there's an open PR for the support, so it should be easy to try it out. @skrollme let me know if I can help or even change anything

[2020-11-23 09:33] GDeb59 commented on #50
Ok thanks skrollme.

I close this feature request.

[2020-11-23 09:33] #50 closed

[2020-11-26 19:22] Dobryash commented on #45
I think this topic is related to https://github.com/skrollme/homebridge-eveatmo/issues/47
If I uninstall the plugin, I can safely connect the homebridge to the home kit, but as soon as I add the palgin, all devices stop responding through it. With the yt plugin installed, the homebridge is connected to the home kit.
ios 14.2.1
Hoobs 3.2.10
Node Version 12.19.0

[2020-11-27 16:04] clipse2004 commented on #42
Hi,
i have already same problem, but where can i find the mac adress from rain and wind sensor? I only can find serialnumber.
When i add these to blacklist it didnt work.

[2020-11-27 16:45] skrollme commented on #42
Hey @clipse2004 ,
try this way:
- https://dev.netatmo.com and login
- https://dev.netatmo.com/apidocumentation/weather
- click `/getstationsdata`
- click `Try it out`
- click `Execute /getstationsdata`
- you should see a longer dataset on the bottom, look for the modules you want to blacklist and take the `_id` values as MAC

[2020-11-27 16:45] #42 closed

[2020-11-27 17:44] clipse2004 commented on #42
i can see the modules and blacklisted but you can see on the pictures thats already there. Did you connect your bridge via HomeKit (Station v3) and this plugin?
thats really beautifull, they sell a product "with HomeKit" and now this :/
![Bild](https://user-images.githubusercontent.com/47680803/100473598-07b3db80-30df-11eb-87e0-bad3e2ee4da3.png)
![Bild1](https://user-images.githubusercontent.com/4

[2020-11-28 11:35] clipse2004 commented on #42
Ok I have a Solution!
Go on a iMac, Mac mini or MacBook under Home, there is it possible to deactivate.

Just for information, there will certainly be even more such requests ;)

[2020-11-30 16:55] skrollme commented on #42
Thanks for your feedback, @clipse2004. I will keep it in mind for the next request ;)

[2020-12-08 17:37] azertiv commented on #51
@foliveira Is the Netatmo Home Coach now supported? I don't see anything in the accessories :) Thx !

[2020-12-08 21:17] foliveira commented on #51
Hi @azertiv - there’s a PR open to support the Health Coach (#52) - @skrollme should be able to review and give indication if it gets merged back

[2020-12-21 10:19] foliveira commented on #51
@skrollme with #52 merged this can be closed 👍

[2020-12-21 10:19] #51 closed

[2020-12-21 20:27] Mibra-de opened #53 "The outdoor module is not displayed with a white list"
Hi there,

I use two Netatmo stations. a version 2 and a version 3.

Now I have everything set up in Homkit and it works too.

Version 2 via evetamo and version 3 via Homkit native.

Version 2 was set as a whitlist so that version 3 runs normally via Homekit.

Unfortunately, version two of the outdoor module via evetatmo is not displayed in Homekit.

Is there a solution to this?

[2020-12-21 20:56] skrollme commented on #53
Hey @Mibra-de ,
white/blacklisting is on a per-module-base and not on a per-station-base. So you have to add the ids of every accessory (netatmo-module) you want to whitelistin the config.

[2020-12-21 20:56] #53 closed

[2020-12-22 04:36] Mibra-de commented on #53
Thank you it works perfekt!

[2020-12-29 14:24] havman-x commented on #47
Did some further tests:
 - Pi 4 with Homebridge v1.2.4/1.2.5, homebridge-config-ui-x v4.36.0, Node.js v14.15.3, homebridge-eveatmo v0.6.1: still a problem
 - NAS with Homebridge beta's up to v1.3.0-beta.34, homebridge-config-ui-x v4.36.0, Node.js v14.15.1, homebridge-eveatmo v0.6.1: Works fine

-- | --

[2021-01-29 20:19] preacha commented on #41
what is the solution here? I got the same error

[2021-02-05 15:44] The-Paw commented on #47
Here the same .. white&black doesn't work :-((

[2021-02-06 15:07] The-Paw commented on #42
Here is no option for deactivation .. home-app in bigsur on mscbookair

[2021-02-06 15:23] The-Paw opened #55 "Black/White doesn't work"
**Description**
eveatmo black & whitelist doesn't work .. all modules still in HomeKit

**Expected behavoir**
netatmo weather station in HomeKit

**Plugin name**
eveatmo

**Please report the issue to the plugin developer**
eveatmo black & whitelist doesn't work :-((

**Version**
Hoods 3.3.2 PlugIn 0.6.2

**Did you upgrade**
Please let us know if you upgraded from a previous version.
- [ ] Yes
- [*

[2021-02-08 18:22] The-Paw commented on #55
After modification directly in the hoops-config .. it works

[2021-02-08 18:22] #55 closed

[2021-02-16 10:13] Marfre888 opened #56 "Illegal Characteristic Supplied on Homebridge 1.3.0 Beta"
**Describe the bug**
As Homebridge log states, firmware characteristic is supplied as a number not string.

**Version you use**
- homebridge version 1.3.0-Beta
- node version 14.15.5
- plugin version 0.6.2

**To Reproduce**
Upon restarting Homebridge with 1.3.0Beta

![error](https://user-images.githubusercontent.com/63603736/108048838-cb41ad00-7047-11eb-81e9-adc7271029b2.PNG)

![battery](https://u

[2021-02-17 15:20] mrmaximas commented on #56
same  issue

[2021-02-18 11:35] Marfre888 commented on #56
![evatmo](https://user-images.githubusercontent.com/63603736/108351432-cfa3cc80-71e5-11eb-8e84-452bfde79c50.PNG)

[2021-02-20 08:44] misanthrophy commented on #56
Same here too.

[2021-02-20 11:43] DJay-X commented on #56
Public of Homebridge v1.3.0

[20.2.2021, 11:45:42] [homebridge-eveatmo] This plugin generated a warning from the characteristic 'S2W2': SET handler returned write response value, though the characteristic doesn't support write response! See https://git.io/JtMGR for more info.
[Zuhause (Wohnzimmer) Balkon@Zuhause (Wohnzimmer) Balkon History@S2W1] SET handler returned write response value, though th

[2021-02-20 15:33] skrollme commented on #56
Looks like I have to update to 1.3 to check and fix this... :D

[2021-02-20 16:22] skrollme commented on #56
I fixed the firmware- and hopefully the battery-characteristics warning although the later does not showed up in my logs.
When do S2W1 and S2W2-warnings show up in your logs @DJay-X ? On Startup, every now and then, while fetching the data (via EVE.app)? I haven't seen them so far either.

[2021-02-20 21:21] misanthrophy commented on #56
@skrollme when can we expect the update and test if there are any further issues? :)

[2021-02-21 09:32] skrollme commented on #56
I want to wait for the reply of DJay concerning his problem. As far as I understand the plugin works as it did before, there are just some warning log entries now. So no need to hurry

[2021-02-21 09:53] mrmaximas commented on #56
after update HB to 1.3.0 release no warnings appear

[2021-02-21 11:06] DJay-X commented on #56
Thanks @skrollme I waited yesterday and today but was not able to reproduce the log entry for whatever reason. So we are on the same page, nothing critical I guess.  Thanks again.

[2021-02-21 12:26] skrollme commented on #56
update 0.6.3 was released an hour ago and is already running on my setup. So far most of the warning are gone. But now the S2W1 and S2W2-warnings showed up in my logs too, @DJay-X :D
It will take a look at it soon and publish another release when I found a fix for this.

[2021-02-21 13:56] misanthrophy commented on #56
Same here, I got the warnings now too ^^

[2021-02-21 13:59] skrollme commented on #56
Looks like the _S2W1 and S2W2-warnings_ come from the underlying fakegato-plugin, which is used to handle the history-functionality. I updated _homebridge-eveatmo_ to the latest version if _fakegato_ (0.6.1) and just published another release 0.6.4. Because the _S2W*-warnings_ come not from the code of _homebridge-eveatmo_, it looks like there is nothing more I can do about it.

[2021-02-21 13:59] #56 closed

[2021-02-27 07:27] jostrasser opened #57 "Rebooting Homebridge while Netatmo server issues"
**Is your feature request related to a problem? Please describe.**
When rebooting homebridge while Netatmo´s servers are not reachable the plugin will prevent homebridge starting correctly

**Describe the solution you'd like**
Eveatmo should throw an error but should not block homebridge starting up.

**Additional context**
If the Netatmo servers are not reachable I can see the following in the lo

[2021-02-27 07:45] DJay-X commented on #57
Same here. Entire Homebridge stuck because of this error with eveatmo plugin.
HB v1.3.1
Node.js v14.16.0
NPM v7.5.6

@skrollme Thanks in advance for fixing this issue.

[code]

[2021-02-27 07:47] jostrasser commented on #57
Hi,... yep... Netatmo is facing a server outage right now which prevents starting up HB.
If I would disable the plugin it will clear my HB config. So this is not the best way to get HB back online.

[2021-02-27 08:11] DJay-X commented on #57
Netatmo Server is back and now with Homebridge reboot it is starting completely again.

[2021-02-27 08:14] jostrasser commented on #57
Thanks for the info... in my case the startup does not work yet, maybe the load on the netatmo infrastructure is too high right now. I think I have to wait a bit.

[2021-03-07 10:59] The-Paw opened #58 "Support for the Netatmo Door&Window Tags ??"
**Is your feature request related to a problem? Please describe.**
Request

**Describe the solution you'd like**
Tags in HomeKit like Window-Sensor (Eve Door & Window)

**Additional context**
Ability to incorporate the Tags?

[2021-03-24 20:20] nicoduj commented on #57
Same issue today while reconfiguring my homebridge

[2021-04-30 06:49] bondskin commented on #57
having the same symptom now for two days (nights, actually).
around 2am yesterday and today I am seeing these error messages.
Restarting HB in the morning fixes it

[2021-05-04 07:10] janni2607 opened #59 "Show Wind Speed of Gusts from the Wind Sensor in Eve App?"
Could it be possible to not only show the current wind speed, but also the wind speed of gusts (as shown in the Netatmo app) in the Eve App?

[2021-07-08 13:48] depaolam commented on #45
Not sure if this helps, but I had this problem when I was running node.js 14.17.x. I just upgraded to 16.x, reinstalled this plugin and it's totally happy now.

[2021-08-07 19:53] jostrasser commented on #57
@skrollme

Any updates when this should be fixed?

Thanks!

[2022-02-22 06:42] skrollme commented on #58
For me the _Eve Door & Window_ sensors work fine out-of-the-box with each Eve.app (of course, it is their hardware) and the default Homekit.app (show up as door/window in the status-row at the top)

[2022-02-22 11:36] The-Paw commented on #58
Read the headline .. I'm talking about the netatmo-sensors 😉🤷🏻‍♂️

[2022-02-22 16:12] skrollme commented on #58
Ooops :D But nevertheless, currently no plan to add support, because I don't own some of these and therefore have no test-data/events in my account

[2022-04-17 12:18] skrollme commented on #59
I hope it's not too late 😄 https://github.com/skrollme/homebridge-eveatmo/releases/tag/0.6.5

[2022-04-17 12:18] #59 closed

[2022-04-17 12:20] skrollme commented on #57
Because this would require a complete overhaul and rewrite of the entire plugin I think this will not happen... sorry 🤷

[2022-04-17 12:21] #57 closed

[2022-04-17 12:23] skrollme commented on #47
Is this still an open topic for you @nberardi , @havman-x , @dnx231 , @AgentMax81 , @Dobryash , @The-Paw ?

[2022-04-17 12:24] #45 closed

[2022-04-17 16:37] janni2607 commented on #59
Wow - cool! I was still waiting for the feature … Thanks!!!

[2022-04-17 19:58] AgentMax81 commented on #47
No :)

[2022-04-17 20:54] nberardi commented on #47
No

On Sun, Apr 17, 2022 at 8:24 AM Sebastian K ***@***.***>
wrote:

[2022-04-18 07:51] havman-x commented on #47
No, i.e. when running on a separate homebridge. It does not work fine on the same homebridge as the other plugins, also not as a child bridge.

[2022-04-18 08:18] The-Paw commented on #47
No

[2022-04-19 07:09] #47 closed

[2022-04-19 07:09] skrollme commented on #47
ok, thanks for responding

[2022-04-20 11:59] frontendschlampe opened #60 "Homebridge does not start"
**Describe the bug**
restart of Homebridge fails, with deactivated plugin it works without any problems

**Version you use**
- homebridge version 1.4.0
- node version v16.14.0
- plugin version v0.6.5

**To Reproduce**
Steps to reproduce the behavior:
1. Installing Eveatmo v0.6.5
2. add login data for Netatmo
3. restart Homebridge
4. Homebridge tries to restart but break off and tries to restart ag

[2022-04-20 13:38] skrollme commented on #60
Hey @frontendschlampe ,
from your log I would suggest, that the problem is related to a non-complete install of the plugin. As it states, the "googleapis" package is missing. But to be precise, this is not required directly be _homebridge-eveatmo_. It is a sub-dependency from the _fakegato-history_ package, which then triggers the error:

`/usr/local/lib/node_modules/homebridge-eveatmo/node_module

[2022-05-25 10:58] jaydisc opened #61 "Error: Authenticate error: invalid_request"
After some recent updates, Eveatmo stopped working (reports "No Response") and I notice this in the homebridge log:

`[25/05/2022, 8:48:48 pm] [Netatmo Platform] ERROR - Netatmo: Error: Authenticate error: invalid_request`

Then one of these every 30 seconds:

`[25/05/2022, 8:49:04 pm] [homebridge-eveatmo] This plugin is taking long time to load and preventing Homebridge from starting. See https:/

[2022-08-04 12:03] julien94800 opened #62 "New authentification method"
Hello,
Starting October, current way to connect to Netatmo server will be removed and a new one introduced. We will need to find an other way to connect and keep this plugin working

[2022-08-04 12:03] julien94800 commented on #62
To improve the security of our products, we inform you that the Client Credentials grant type method will be completely removed. It will no longer be possible to authenticate with the username and password of the user.

The effective date of this update is October 2022.

How can you authenticate with Netatmo API ?
From this date, the OAuth2 authorization code flow must be followed for authenticati

[2022-08-04 13:20] jostrasser commented on #62
Adding documentation: https://dev.netatmo.com/apidocumentation/oauth#authorization-code

[2022-08-11 07:16] skrollme commented on #62
Thanks for opening the issue. I also got the infomail from Netatmo. I will take a look at it soon...

[2022-09-04 20:19] smhex opened #63 "Reduce log output"
**Is your feature request related to a problem? Please describe.**
For every data update of my weather station the following log output is shown:
[code]
As I have many other plugins running the log gets filled with those messages and it is more difficult to find relevant log entries in case of errors.

**Describe the solution you'd like**
Introduce a config switch to disable the log output for log

[2022-09-05 11:08] jaydisc opened #64 "Did this plugin use to support history on Air Quality?"
I've been using this plugin for well over a year with a Netatmo Smart Air Sensor (or Healthy Home Coach it might've been called). I _really thought_ that I used to be able to see Air Quality history (CO2 ppm) in the Eve app, but I can't seem to find this any more? Was this feature untenable? Was I imagining it? The temperature and humidity histories are present.

[2022-09-05 11:08] skrollme commented on #62
Since I still had no time to take a look at this refactoring and also no good starting point to integrate a web-redirect-based authentication in the plugin, it looks like it won't be done by Netatmo's deadline this October.

**So be aware, that this plugin could be stop working and/or breaking your Homebridge setup any time soon.**

If anyone is interested in participating here feel free to start

[2022-09-05 11:13] skrollme commented on #64
Just because you don't like it, it isn't automatically a bug ;) What you described is a feature- or change-request

[2022-09-05 11:19] skrollme commented on #64
Sorry for my previous comment, I clicked into the wrong topic :D Since I do not often use the EVE App by myself anymore I did not notice this. But I'm also missing the CO2 graph from the EVE app. Temperature and Humidity are also still present for me. Since there was no update on this plugin it must have been some changes in the EVE app.

You may also report the problem in the https://github.com/s

[2022-09-05 11:21] skrollme commented on #61
Is this still an open topic?

[2022-09-05 11:23] jaydisc commented on #61
No. This eventually came good.

[2022-09-05 11:23] #61 closed

[2022-09-05 12:28] skrollme commented on #63
Noted, thanks fr your input

[2022-09-05 22:20] jostrasser commented on #62
Hi @skrollme
that is really bad... right now there is no alternative to integrate Netatmo Weather into Homebridge. And you have done a really good job :)

I contacted Netatmo Dev Support to get more details about the new auth method, as I saw that users are now able to create an "access token" via the web portal in addition to the "client_id" and "client_token".
This means a web-based redirect is

[2022-09-08 20:32] jostrasser commented on #62
Hi @skrollme
I want to add some more informations from Netatmo:

[2022-09-09 12:10] skrollme commented on #62
Thanks for your investigation, @jostrasser I will take a look at the possibilities we have with your findings this weekend.

[2022-09-09 12:33] jostrasser commented on #62
Many thanks @skrollme !

[2022-09-09 16:06] juani13973 commented on #62
Hi skzollme, thanks for your effort.
I just created a token and it works again. I am not a technical person so I am not able to have a proper conversation with Netatmo but would it be worth asking if they can make the token last 3 months at least ?

[2022-09-09 16:15] jostrasser commented on #62
Netatmo confirmed that the Access token will be permanent but the refresh token has to be refreshed within every 3 hours.

Some statements:

[2022-09-09 16:36] jostrasser commented on #62
Hi @juani13973

where did you refreshed the token and what exactly "works again"?
At the moment Netatmo is not restricting the old auth method and will do this starting October.

This means all 3rd party apps / plugins access are not impacted right now but has to be adopted (Oauth2 authentication) to keep  them working.

And homebridge-eveatmo is one of it.

[2022-09-09 16:42] julien94800 commented on #62
Hello @jostrasser
From my side my log was full of the following message
![image](https://user-images.githubusercontent.com/22552386/189399758-07a0f3ab-5cd3-4d2a-aab8-c81e4f40e778.jpeg)

I just logged into Netatmo dev portal and generated a token. Now it works again in Homebridge. Not sure if it's really this which fixed the situation.... but sounds strange

[2022-09-09 17:05] jostrasser commented on #62
Ah, I am aware of this issue.
It's a platform issue on the Netatmo servers. Creating a fresh token solve the issue.

FYI: This isn't related to the auth method change which Netatmo is starting in October.

[2022-09-09 17:06] juani13973 commented on #62
Thx julien94800.
Same with me. Same message in the console and home bridge had lost access to fetch the data. The temp, humidity etc did not work. I went into the Netatmo dev website where I had created the connection to the plug in and there is a link to create a token. I just clicked, the token was created and "magic" the plugin started working again.

I guess based on the conversation here that

[2022-09-09 17:16] jostrasser commented on #62
Hmm, the token should not be related to your issues because when you generate a Token you have to enter it in your json.conf of Homebridge, otherwise it will not be used ;)

But creating a token can force a sync of the authentication change @ Netatmo´s Platform. And this can solve such issues.

THIS token will be needed starting October
To use it we have to adopt some changes in homebeige-eveatmo

[2022-09-09 17:21] julien94800 commented on #62
Hello @jostrasser
Yes that's exactly on this button I clicked. Then I get tokens (I assume the access one and the refresh one separated by |)
Indeed I did not used them anywhere.... but by any reason it unlocked my trouble. Surely something strange on Netatmo server.

Thanks anyway, and let's hope we could find a way to get this plugin still working on future!

[2022-09-09 17:24] jostrasser commented on #62
Thanks for your confirmation :)

Yes, I think Netatmo is having troubles right now on their side and the described steps are solving it.
However, I also hope we can find a way to integrate the new authentication method.

[2022-09-09 17:30] skrollme commented on #62
Normally you get access- and refresh-token after auth. You can use the access-token as long as it is valid. If it becomes invalid you need to use the refresh-token to get a new pair of token and everything starts over again.

**But when I generate a token on https://dev.netatmo.com/apps/ I only get an access-token, no refresh-token.** Not sure if Netatmo does something special here or am I missing

[2022-09-09 17:35] jostrasser commented on #62
Hi @skrollme

I have an open ticket at Netatmo's Dev Support. I can request some more informations about it.

[2022-09-09 17:35] skrollme commented on #62
But from your statements it looks like we have the current situation now:
1) refresh-token generation does not work at the moment, but it is coming?
2) access-token (which normally expire) do not expire

If 2) is the case, it could be an easy (temporary) fix to keep the plugin running. I will generate a token now and check if it still works tomorrow.

[2022-09-09 17:40] skrollme commented on #62
@juani13973 and @julien94800
The problems you are describing does not seem to be related to this topic/issue here. Netatmo seems to have some general and unrelated problems with their infrastructure which happens every now and then.

[2022-09-10 07:02] jostrasser commented on #62
Hi @skrollme
I have requested a confirmation from Netatmo for your questions.

1. waiting for confirmation from Netatmo
2. I think you are right. If a token is created it only has to be "refreshed" periodically by homebridge-eveatmo. This should work for now.

[2022-09-10 09:11] skrollme commented on #62
The access-token did not survived the night, so the "easy solution" won't work. I will start evaluating other ways...

[2022-09-15 09:57] jostrasser commented on #62
Feedback from Netatmo Dev Support:

[2022-09-18 09:23] skrollme commented on #63
Thank you for the PR @smhex, I really appreciate it 👌 In my limited time I focus on refactoring the plugin to use a new auth-mechanism (see #62 ). But when this is done, I will take a look at your PR

[2022-09-18 09:53] skrollme commented on #62
**I just releases a new beta-version ([0.7.0-beta1](https://www.npmjs.com/package/homebridge-eveatmo/v/0.7.0-beta1)) of this plugin which uses a _refresh_token_ for authentication.**

- The new version only needs a _client_id_, a _client_secret_ (like before) and a valid _refresh_token_ for this client.
- Upon startup the plugin uses the _refresh_token_ to get an _access_token_ which is then used

[2022-09-18 10:09] julien94800 commented on #62
Hello @skrollme
Thanks very much for your time on this subject.
I would be glad helping testing too but I have no idea on how to generate a refresh token at the moment. Any hint on this please?
Thanks in advance

[2022-09-18 10:17] skrollme commented on #62
Could be a little bit tricky without knowledge of the authentication-mechanism and no experience in simulating these auth-flows via an API-testing-tool like postman, but I appreciate your willingness, @julien94800.

@jostrasser Did Netatmo's support say anything about if or when _refresh_token_ expire as well? At the moment the plugin does not update the _refresh_token_ when it fetches a new _acce

[2022-09-18 10:39] julien94800 commented on #62
Ok thanks for your feedback so I will wait.
I was just hoping being able to get it from Netatmo website.
When I generate tokens on their site I always get two tokens (they are separated by | character).
Do you know what are they? I assume first one is the access token but no idea about the second one. Could it be a refresh one?

[2022-09-18 11:09] jostrasser commented on #62
Hi @skrollme
Many thanks for your great work to keep the plugin alive.

About the tokens, I got the following information from Netatmo Dev Support:

Note that all script that are actually using the refresh token method instead of fully remaking the client credential (that should be used once to create the token and its access level) will continue to work.

Eitherway for the nodes / plugins if they

[2022-09-18 12:02] skrollme commented on #62
Ok so I have to take a look at this as well :D Thanks for forwarding this, @jostrasser

[2022-09-18 13:30] jostrasser commented on #62
No problem @skrollme !

If additional infos are required let me know ;)

[2022-09-18 14:15] smhex commented on #63
Don't worry! I can always create a patch for my own installation. If you need help with testing the new login method just tell.

[2022-09-21 21:36] palasinio commented on #62
Hi @skrollme, are you able to describe the way to get the "refresh" token more exactly?
I tried the token generated on the /dev web page with, w/o, left from and right from the "|".
Nothing worked. Some screens maybe helpful.

Big THX for still going on

[2022-09-23 06:34] skrollme commented on #62
Since the auth-flow needs some requests/redirects and form-submits it is not possible without some tools.
I will try to build a little test-page where you can enter your app's client-id to initiate the auth-flow.

If you are still interested in this topic and want to dig deeper own your own @palasinio, you can checkout out this video, which does a basic explanation of the auth-mechanism and introd

[2022-09-28 08:24] jostrasser commented on #62
Hi @skrollme
I have now updated to 0.7.0-beta3 and have generated the needed tokens with postman.
The plugin is running fine for now.

I'll keep you posted about the testings.

If anyone needs help to generate the token with postman: I can post a screenshot of the configuration if needed.

Thanks JO!

[2022-09-28 08:35] palasinio commented on #62
@jostrasser: what is „postman“? A screen would be very helpful :)

[2022-09-28 15:17] skrollme commented on #62
Since I do no not how an initial authentication could be done within the plugin easily, the initial setup will be similar to the current state. So a user has to generate a _refresh_token_ and use it on the first start. Hopefully the dev.netatmo.com portal will support this soon. Otherwise I have to prepare a small page which can initiate the authflow and prints out a _refresh_token_ which can be u

[2022-09-29 22:00] palasinio commented on #62
@jostrasser
Big THX for your instructions.
Important to say: It is not nescessary to register to "PostMan"(!).
The plugin at least starts w/o error or warning :)

@skrollme
like described in https://dev.netatmo.com/apidocumentation/oauth I just tried to play /w POST and pasting the URLs in my browser w/o knowing what I'm doing, but I bet there is a way to get the refresh token whith some posts.

D

[2022-09-30 08:52] jostrasser commented on #62
Hi @palasinio
No problem. Postman works without creating an account, you only need it if you want to sync your work over multiple instances.

It is enough to request the keys via Postman (do an authentication to get the keys back) which you can use in your homebridge config file. You only have to set:

[code]

After that the plugin will create the netatmo-token.json` file to store the keys in the

[2022-10-01 11:01] andoorius commented on #62
I‘m not able to use the Plugin Beta 3…
Token were generated in the Apps section of the Netatmo Webpage.
Client ID,Secret and Token generated new several times. Anyone else facing this issue?

[1.10.2022, 12:54:38] [eveatmo platform]
Starting child bridge...
[1.10.2022, 12:54:40] [eveatmo platform]
Launched child bridge with PID 29760
[1.10.2022, 12:54:40] Registering platfor
'homebridge-eveatmo.ev

[2022-10-01 11:25] jostrasser commented on #62
@andoorius
You are facing an auth-issue.
With beta3 you have to verify that the both, the **access AND the refresh token**, are configured correctly to initiate the connection.

I ran into a similar issue and found out that one token wasn't correctly applied to the `netatmo-token.json` because I created them twice but the `netatmo-token.json` will not be overwritten.

So I will recommend the follo

[2022-10-01 12:21] andoorius commented on #62
Well somehow 😀 It is probably a stupid question
Where should I find the Netatmo-token.json?
Also search did not help me :-(

[2022-10-01 12:53] jostrasser commented on #62
Please read my earlier comments...

---

After that the plugin will create the netatmo-token.json file to store the keys in the homebridge directory (typically /var/lib/homebridge).

[2022-10-01 14:24] andoorius commented on #62
ok I had issues with the Token creation. Now it works. The Netatmo-token.json is only created after one successful authentication...
Thank you!

[2022-10-01 14:29] jostrasser commented on #62
Yes, that's correct.

No problem, U're welcome :)

[2022-10-01 14:57] julien94800 commented on #62
Hello @andoorius ,
Did you succeed using the tokens from the Netatmo website? Or did you get it via postman?
Thanks in advance

[2022-10-01 15:19] andoorius commented on #62
@julien94800 - I had no success with the webpage. I wanted to avoid postman but at the end it was very simple and worked after my first try 😀 -> download postman and use the „manual“ from above. No account needed, pretty easy.

[2022-10-01 16:06] jostrasser commented on #62
Hi @julien94800
Using the webpage (dev.netatmo.com) is not enough to get both tokens. You have use a 3rd party app to get the required token.

As @andoorius mentioned, follow the described steps. It is really straight forward.

About the "access_token creation via the DEV webpage": I opened a Feature Request @ Netatmo Dev Support.

[2022-10-01 16:11] skrollme commented on #62
Normally the _netatmo-token.json_ should be written on first start with the _auth_token_ and _refresh_token_ that were just fetched via the _refresh_token_ from homebridge's _config.json_.

From now on, only the tokens from the _netatmo-token.json_ are used. At least this is what I planned it to do :D
Were there any problems on your setup or didn't it work like that, @jostrasser ?

[2022-10-01 16:17] jostrasser commented on #62
Hi," @skrollme

Good to know, thanks!
I think I made a mistake on my first try to run the beta3 but I missed the information that the plugin is using only the json for auth. after the initial setup.

So in that case the beta3 release is working as expected and I can confirm full functionality from my side! (Ready for release) :)

[2022-10-01 16:39] skrollme commented on #62
Thank your for your feedback and your support here, @jostrasser . I will take a look at the Readme.md and may edit it to make it more clear how the plugin works.

Besides that I'm still not sure when I should release the new version. I think it would be best to wait until Netatmo either adds the refresh-token generation to it's portal or when they switch off the old auth-flow.

[2022-10-01 16:43] julien94800 commented on #62
Hi @jostrasser
Thanks for clarification. I had doubt while reading other posts. Unfortunately I don't have access to computer at this time that's why I always hope I could do it via Netatmo portal from my phone.

[2022-10-01 16:56] andoorius commented on #62
@julien94800 I did not try it but on postman.com I did read something about a webversion. As it not a very complex query it should work ….

see how to get started
https://www.postman.com/product/tools/

[2022-10-01 16:58] julien94800 commented on #62
Thanks @andoorius i will have a look on this

[2022-10-01 20:22] jostrasser commented on #62
Hi @skrollme

Thank you for your invest of time to keep the plugin alive! :)

Yes, I also think that it would be the best to wait until one of the two described scenarios will take in place.
But I think Netatmo will first disable the old auth method, and bring an update of the web portal later.

We will see ;)

[2022-10-03 10:00] palasinio commented on #62
@skrollme: It’s working for more than 3 days now and survived a reboot. Very nice. Thank you for still working on it.
@jostrasser: Thank you for documenting „PostMan“ to get the tokens.

[2022-10-22 19:47] palasinio commented on #62
Okay, today I shut down my RPI to Backup SD Card. Afterwartds i got tis Messages:

[22.10.2022, 21:05:28] [eveatmo platform] Loading new data from API for: weatherstation
[22.10.2022, 21:05:31] [eveatmo platform] WARN - Netatmo: Error: getStationsDataError error: Invalid access token
[22.10.2022, 21:05:44] [homebridge-eveatmo] This plugin is taking long time to load and preventing Homebridge from

[2022-10-23 21:11] misanthrophy commented on #62
So I just rushed through this thread to see if it is working for me. What I did:

- logged into the netatmo dev portal, opened my previous "app" and used under "Token Generator" "read_station". I then received an Access Token and a Refresh Token. I copied the refresh token, installed the beta3 and added this code to my config. I then rebooted my Eveatmo childbridge and got this error:
[10/23/2022,

[2022-10-23 22:12] jostrasser commented on #62
Hi @misanthrophy

follow my instructions to set the correct scope even if you only have a Weather Station in use:
https://github.com/skrollme/homebridge-eveatmo/issues/62#issuecomment-1260603695

BR/JO

[2022-10-24 20:43] misanthrophy commented on #62
Hi @jostrasser ,

it seems to work now. But I used the "native" option on the Netatmo website, instead of Postman.
First I still got error messages with the tokens from Postman, then I checked again the website of Netatmo and created new tokens within the same "app" with my original client ID and client secret. I then posted the refresh token into the config of the plugin, still same issue. Then I

[2022-10-25 07:58] palasinio commented on #62
I can confirm, that you get access and refresh token now on the Netatmo api page.

[2022-10-25 09:06] jostrasser commented on #62
Thanks for confirming!

[2022-10-25 17:44] skrollme commented on #62
Sweet Jesus, they did it 😮 So it looks like it is time to prepare the plugin's readme for this and release the beta as final. Thanks for everyone who provided information and helped to make it work 👍

[2022-10-25 18:57] jostrasser commented on #62
Hi @skrollme
Today I also got a confirmation of my UI Feature Request. I think many of us requested the option to get both tokens via the UI. ;) Cool that Netatmo has approved and applied this change ;)

Many thanks to you for your great work and support!!

BR/JO

[2022-10-30 10:08] skrollme commented on #62
**I just released [1.0.0](https://www.npmjs.com/package/homebridge-eveatmo) which uses the new _refresh_token_-authentication from the 0.7.x betas.** It has become 1.0.0 to reflect the breaking change, which was introduced.
- Everyone who is already on the 0.7.x betas can safely upgrade to 1.0.0.
- If you are coming from a e.g. 0.6.x version, please see the [readme.md](https://github.com/skrollme/

[2022-10-30 10:08] #62 closed

[2022-10-30 10:40] skrollme commented on #63
Since the authentication-topic (https://github.com/skrollme/homebridge-eveatmo/issues/62) is hopefully done now, I will soon take a look your PR, @smhex

[2022-10-31 16:11] skrollme commented on #63
I just merged your PR and released it as 1.0.1. Thanks for your contribution @smhex 👌

[2022-10-31 17:17] julien94800 commented on #62
Thanks very much @skrollme and all other people who helped for this! Great work, im happy being able using it again in future!
Thanks

[2022-11-01 13:39] dendoor opened #66 "hi all, I updated the plugin but homebridge does not start anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**Version you use**
- homebridge version 1.51
- node version 16.16.0
- plugin version 1.01

following error occurs ; [eveatmo platform] WARN - Netatmo: Error: getHealthyHomeCoachData error: Application does not have the good scope rights [01/11/2022, 14:35:45]
[homebridge-eveatmo] This plugin is taking long time to load and

[2022-11-01 14:14] julien94800 commented on #66
Hello, when you request the tokens on the Netatmo website, you have to select scopes. Add the one from coach data (in addition of others) and regenerate a token. Then it should work

[2022-11-01 14:16] julien94800 commented on #66
In order to be sure everything work you can ask the following scopes (list from the previous issue)

read_station read_magellan read_bubendorff read_smarther read_thermostat read_camera read_doorbell read_mx read_presence read_homecoach read_carbonmonoxidedetector read_smokedetector

[2022-11-01 14:22] dendoor commented on #66
OK, I update the token and this is what I get ;

[eveatmo platform] WARN - Netatmo: Error: Authenticate refresh error: invalid_grant
[01/11/2022, 15:21:11] [eveatmo platform] WARN - Netatmo: Error: getStationsDataError error: Invalid access token
[01/11/2022, 15:21:12] [eveatmo platform] WARN - Netatmo: Error: getHealthyHomeCoachData error: Invalid access token
[01/11/2022, 15:21:29] [homebridge-e

[2022-11-01 14:25] dendoor commented on #66
You can select an ACCES TOKEN or a REFRESH TOKEN. I am surprised that the ACCES TOKEN is not asked in the configuration. Only the REFRESH TOKEN (what I did). Do I mis something ? What about the ACCES TOKEN ?

[2022-11-01 14:39] dendoor commented on #66
I did a reset of my client ID and client secret, and also asked for a REFRESH TOKEN. When I input these values in de configuration I still get the same errors. Don't know what the problem is....

[2022-11-01 14:42] sosko4000 commented on #66
I have the same issue. After the upgrade of Homebridge Eveatmo to v1.0.1 and following the instructions for new Netatmo authentication (generate refresh token...) I am getting the same error as @dendoor:
[11/1/2022, 2:27:51 PM] [eveatmo platform] Initializing eveatmo platform...
[11/1/2022, 2:27:54 PM] [eveatmo platform] Loading new data from API for: weatherstation
[11/1/2022, 2:27:54 PM] [eveatm

[2022-11-01 14:44] sosko4000 commented on #66
forgot to mention the relative versions:
Homebridge v1.5.1
Node.js Version v18.12.0
homebridge-eveatmo v1.0.1

Cheers

[2022-11-01 16:08] julien94800 commented on #66
![image](https://user-images.githubusercontent.com/22552386/199280937-e34bf1c2-e351-480b-ade9-e5d08759a68f.jpeg)

I would suggest trying this. During beta process some other users faced this issue and fixed it. Could you please try this?

[2022-11-01 22:37] smhex commented on #63
@skrollme thank you for this nice plugin!

[2022-11-02 03:24] jcmurty commented on #66
no joy for me either,

as per @sosko4000 above, I have manually confirmed contents of netatmo-token.json match what I created in https://dev.netatmo.com/apps/ using scope read_station

I've tried creating a new app in dev.netatmo.com, no joy

have disabled plugin, manually removed netatmo-token.json, reconfigured plugin, renenabled, restarted, no joy

have uninstalled plugin, removed all traces of

[2022-11-02 06:48] julien94800 commented on #66
Hello @jcmurty
Please try requesting new tokens and be sure adding all the scope when you request it. In your case it seems that you did not select the gethealthyhome scope before generating. You should see a list on previous comment about which scope to select when requesting token

[2022-11-02 15:06] v1nc3lx commented on #66
Same here.. :/

[2022-11-02 15:18] julien94800 commented on #66
Hello @v1nc3lx
Could you please try the following:
Stop your Homebridge instance running this plugin
Delete the Netatmo-token.json file
Request again from netatmo website a refresh token by selecting all scopes
Set all info back to your config
Restart Homebridge
I hope it will help. In my case it worked like this

[2022-11-02 15:32] v1nc3lx commented on #66
hi @julien94800 and thx

unfortunately it didn't work
i got the same messages:

_Loading new data from API for: weatherstation
Loading new data from API for: airquality
WARN - Netatmo: Error: getStationsDataError error: Application does not have the good scope rights
WARN - Netatmo: Error: getHealthyHomeCoachData error: Application does not have the good scope rights
This plugin is taking long tim

[2022-11-02 16:26] typedown commented on #66
Hi there, unfortunately same here_ recreated app at dev.netatmo.com, reinstalled eveatmo plugin in homebridge and deleted all old files for tokens etc. as it stops my HB instance from loading correctly i'ts quite blocking. thank you

[2022-11-02 16:27] julien94800 commented on #66
Hello @typedown
In your case do you have the health monitor device too? Or only météo station?

[2022-11-02 16:49] v1nc3lx commented on #66
thx @skrollme that did the trick!! 🥇

[2022-11-02 20:07] typedown commented on #66
I'd only the meter station, but I think I found how to do it: I redid all the permissions on dev.netatmo.com and gave access to everything, not only meet. Now it seems to work. Thank you!

[2022-11-03 02:50] jcmurty commented on #66
working again for me, as advised regenerated token with all read scopes inc. read_homecoach, deleted netatmo-token.json file, re-enabled plugin, restarted homebridge

[2022-11-03 11:31] #66 closed

[2022-11-06 18:14] pitixx commented on #66
In case it's of help to anyone still having the same problem, the file that needs to be edited to ensure the client_id and auth_token match those generated at dev.netatmo.com in the is /var/lib/homebridge/netatmo-token.json. At least that's where it is in my homebridge installation (Raspberry pi).

[2022-11-07 05:23] coolweb opened #67 "Unable to select battery in automation"
First thx for your plugin!
I try to use the battery in an automation but it is not selectable. The battery section is empty.
![Capture d’écran   2022-11-07 à 06 18 45](https://user-images.githubusercontent.com/3740250/200232346-6e6eaa09-c884-4567-869d-4197979dfcb1.png)

[2022-11-07 22:01] hansw1204 opened #68 "Plugin does not seem to start"
I just generated a refresh token and added it to the config. However, the plugin, running as a child bridge, is not starting up.
The log shoes this:
This plugin is taking long time to load and preventing Homebridge from starting. See https://homebridge.io/w/JtMGR for more info
Many thanks for any help

[2022-11-08 16:11] hansw1204 commented on #68
SOLVED
The netatmo-token.json had to be corrected since I had generated new tokens.

[2022-11-08 18:30] #68 closed

[2022-11-08 18:31] skrollme commented on #67
Thanks for your input @coolweb . I will take look at it and let you know if I can change this

[2022-11-10 10:18] juani13973 opened #69 "Integration of Smart Rain Gauge"
Dear skzollme,
are you contemplating in adding the Smart Rain Gauge ? I installed it recently but it doesn't show up in home bridge.
Thanks for all the efforts put in this plug in !
juani13973

[2022-11-15 13:43] mrmaximas opened #70 "netatmo-token.js does not present on Mac OS HB"
After plugin upgrade i generate refresh token on netatmo but netatmo-token.js not present in hb config dir or any dir
[11/15/2022, 4:23:10 PM] [Netatmo] WARN - Netatmo: Error: getStationsDataError error: Invalid access token
[11/15/2022, 4:23:10 PM] [Netatmo] WARN - Netatmo: Error: Authenticate refresh error: invalid_grant
[11/15/2022, 4:23:10 PM] [Netatmo] WARN - Netatmo: Error: getHealthyHomeCoa

[2022-11-18 12:55] skrollme commented on #69
At least my Netatmo Rain Gauge shows up in the EVE app with the current homebride-eveatmo version. Support for this device-type was added years ago if I remember this correct.

Could it be possible, that you have excluded the device via blacklisting and/or whitelisting, @juani13973 ?
![IMG_87384160C7A8-1](https://user-images.githubusercontent.com/1336659/202709903-d25846af-3404-440e-86cc-639be1fba